body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1978 {
  position:absolute;
  left:80px;
  top:20px;
  width:1210px;
  height:100px;
}
#u1979 {
  position:absolute;
  left:2px;
  top:42px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:41px;
}
#u1980 {
  position:absolute;
  left:110px;
  top:40px;
  width:170px;
  height:40px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982 {
  position:absolute;
  left:80px;
  top:140px;
  width:187px;
  height:528px;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u1983 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u1984 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:281px;
}
#u1985 {
  position:absolute;
  left:0px;
  top:48px;
  width:182px;
  height:281px;
  text-align:center;
}
#u1986 {
  position:absolute;
  left:2px;
  top:132px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u1987 {
  position:absolute;
  left:0px;
  top:329px;
  width:182px;
  height:48px;
  text-align:center;
}
#u1988 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u1989 {
  position:absolute;
  left:0px;
  top:377px;
  width:182px;
  height:48px;
  text-align:center;
}
#u1990 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u1991 {
  position:absolute;
  left:0px;
  top:425px;
  width:182px;
  height:48px;
  text-align:center;
}
#u1992 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:50px;
}
#u1993 {
  position:absolute;
  left:0px;
  top:473px;
  width:182px;
  height:50px;
  text-align:center;
}
#u1994 {
  position:absolute;
  left:2px;
  top:17px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1995 {
  position:absolute;
  left:280px;
  top:180px;
  width:1010px;
  height:488px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:236px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997 {
  position:absolute;
  left:80px;
  top:200px;
  width:170px;
  height:225px;
}
#u1997_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1998 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1999 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1999_img.selected {
}
#u1999.selected {
}
#u2000 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2001 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u2002 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1998_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2003 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u2004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2004 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u2005 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u2006 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2007 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u2008 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u2009 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u2010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2010 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u2011 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u2012 {
  position:absolute;
  left:20px;
  top:80px;
  width:132px;
  height:20px;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2013 {
  position:absolute;
  left:22px;
  top:0px;
  width:110px;
  height:20px;
}
#u2014 {
  position:absolute;
  left:3px;
  top:1px;
  width:105px;
  white-space:nowrap;
}
#u2015 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2016 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u2017 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u2018 {
  position:absolute;
  left:20px;
  top:120px;
  width:80px;
  height:20px;
}
#u2019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2019 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u2020 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u2021 {
  position:absolute;
  left:20px;
  top:140px;
  width:145px;
  height:20px;
}
#u2022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2022 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u2023 {
  position:absolute;
  left:3px;
  top:1px;
  width:118px;
  white-space:nowrap;
}
#u2024 {
  position:absolute;
  left:20px;
  top:160px;
  width:80px;
  height:20px;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2025 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u2026 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u2027 {
  position:absolute;
  left:20px;
  top:180px;
  width:80px;
  height:20px;
}
#u2028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2028 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u2029 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u2030 {
  position:absolute;
  left:20px;
  top:200px;
  width:106px;
  height:20px;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2031 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u2032 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u2033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2033 {
  position:absolute;
  left:281px;
  top:140px;
  width:200px;
  height:30px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u2035 {
  position:absolute;
  left:447px;
  top:144px;
  width:28px;
  height:25px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2037 {
  position:absolute;
  left:280px;
  top:190px;
  width:990px;
  height:120px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:52px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2039 {
  position:absolute;
  left:988px;
  top:521px;
  width:27px;
  height:16px;
}
#u2040 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2041 {
  position:absolute;
  left:1040px;
  top:518px;
  width:100px;
  height:22px;
}
#u2041_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2041_input {
  font-family:'应用字体';
}
#u2041_input:disabled {
  color:grayText;
}
#u2042 {
  position:absolute;
  left:1050px;
  top:235px;
  width:100px;
  height:25px;
}
#u2042_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2042_input {
  font-family:'应用字体';
}
#u2043 {
  position:absolute;
  left:1160px;
  top:235px;
  width:100px;
  height:25px;
}
#u2043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2043_input {
  font-family:'应用字体';
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2044 {
  position:absolute;
  left:280px;
  top:320px;
  width:990px;
  height:330px;
  text-align:left;
}
#u2045 {
  position:absolute;
  left:2px;
  top:2px;
  width:986px;
  word-wrap:break-word;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2046 {
  position:absolute;
  left:317px;
  top:590px;
  width:508px;
  height:18px;
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  white-space:nowrap;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2048 {
  position:absolute;
  left:304px;
  top:203px;
  width:53px;
  height:16px;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2050 {
  position:absolute;
  left:380px;
  top:200px;
  width:100px;
  height:22px;
}
#u2050_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2050_input {
  font-family:'应用字体';
}
#u2051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2051 {
  position:absolute;
  left:549px;
  top:203px;
  width:66px;
  height:16px;
}
#u2052 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2053 {
  position:absolute;
  left:619px;
  top:200px;
  width:100px;
  height:22px;
}
#u2053_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2053_input {
  font-family:'应用字体';
}
#u2053_input:disabled {
  color:grayText;
}
#u2054 {
  position:absolute;
  left:549px;
  top:240px;
  width:100px;
  height:18px;
}
#u2055 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2054_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2056 {
  position:absolute;
  left:641px;
  top:240px;
  width:100px;
  height:18px;
}
#u2057 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2056_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2058 {
  position:absolute;
  left:731px;
  top:240px;
  width:100px;
  height:18px;
}
#u2059 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2058_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2060 {
  position:absolute;
  left:306px;
  top:243px;
  width:40px;
  height:16px;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2062 {
  position:absolute;
  left:380px;
  top:238px;
  width:100px;
  height:22px;
}
#u2062_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2062_input {
  font-family:'应用字体';
}
#u2062_input:disabled {
  color:grayText;
}
#u2063 {
  position:absolute;
  left:306px;
  top:270px;
  width:100px;
  height:25px;
}
#u2063_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2063_input {
  font-family:'应用字体';
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2064 {
  position:absolute;
  left:278px;
  top:730px;
  width:792px;
  height:440px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:212px;
  width:788px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2066 {
  position:absolute;
  left:380px;
  top:763px;
  width:27px;
  height:16px;
}
#u2067 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2068 {
  position:absolute;
  left:456px;
  top:760px;
  width:100px;
  height:22px;
}
#u2068_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2068_input {
  font-family:'应用字体';
}
#u2069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2069 {
  position:absolute;
  left:744px;
  top:766px;
  width:27px;
  height:16px;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2071 {
  position:absolute;
  left:820px;
  top:763px;
  width:100px;
  height:22px;
}
#u2071_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2071_input {
  font-family:'应用字体';
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2072 {
  position:absolute;
  left:380px;
  top:798px;
  width:53px;
  height:16px;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2074 {
  position:absolute;
  left:456px;
  top:795px;
  width:100px;
  height:22px;
}
#u2074_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2074_input {
  font-family:'应用字体';
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2075 {
  position:absolute;
  left:744px;
  top:801px;
  width:66px;
  height:16px;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2077 {
  position:absolute;
  left:820px;
  top:798px;
  width:100px;
  height:22px;
}
#u2077_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2077_input {
  font-family:'应用字体';
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2078 {
  position:absolute;
  left:380px;
  top:833px;
  width:40px;
  height:16px;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2080 {
  position:absolute;
  left:456px;
  top:830px;
  width:100px;
  height:22px;
}
#u2080_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2080_input {
  font-family:'应用字体';
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2081 {
  position:absolute;
  left:744px;
  top:836px;
  width:27px;
  height:16px;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2083 {
  position:absolute;
  left:820px;
  top:833px;
  width:100px;
  height:22px;
}
#u2083_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2083_input {
  font-family:'应用字体';
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2084 {
  position:absolute;
  left:317px;
  top:874px;
  width:713px;
  height:90px;
  text-align:left;
}
#u2085 {
  position:absolute;
  left:2px;
  top:6px;
  width:709px;
  word-wrap:break-word;
}
#u2086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2086 {
  position:absolute;
  left:325px;
  top:864px;
  width:53px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2087 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2088 {
  position:absolute;
  left:317px;
  top:999px;
  width:713px;
  height:90px;
  text-align:left;
}
#u2089 {
  position:absolute;
  left:2px;
  top:6px;
  width:709px;
  word-wrap:break-word;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2090 {
  position:absolute;
  left:325px;
  top:989px;
  width:53px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2092_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:445px;
}
#u2092p000 {
  position:absolute;
  left:-218px;
  top:217px;
  width:437px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2092p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:457px;
  height:11px;
}
#u2092p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u2092p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u2092p002 {
  position:absolute;
  left:-11px;
  top:420px;
  width:22px;
  height:22px;
}
#u2092p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u2092.compound {
  width:0px;
  height:0px;
}
#u2092 {
  position:absolute;
  left:356px;
  top:295px;
  width:1px;
  height:435px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:210px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094 {
  position:absolute;
  left:930px;
  top:1118px;
  width:100px;
  height:25px;
}
#u2094_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2094_input {
  font-family:'应用字体';
}
