body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6634 {
  position:absolute;
  left:80px;
  top:20px;
  width:1290px;
  height:100px;
}
#u6635 {
  position:absolute;
  left:2px;
  top:42px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:41px;
}
#u6636 {
  position:absolute;
  left:110px;
  top:40px;
  width:170px;
  height:40px;
}
#u6637 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6638 {
  position:absolute;
  left:280px;
  top:180px;
  width:1090px;
  height:488px;
}
#u6639 {
  position:absolute;
  left:2px;
  top:236px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6640 {
  position:absolute;
  left:280px;
  top:140px;
  width:200px;
  height:30px;
}
#u6641 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u6642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u6642 {
  position:absolute;
  left:447px;
  top:144px;
  width:28px;
  height:25px;
}
#u6643 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6644 {
  position:absolute;
  left:289px;
  top:190px;
  width:1071px;
  height:140px;
}
#u6645 {
  position:absolute;
  left:2px;
  top:62px;
  width:1067px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6646 {
  position:absolute;
  left:308px;
  top:200px;
  width:27px;
  height:16px;
}
#u6647 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6648 {
  position:absolute;
  left:1140px;
  top:235px;
  width:100px;
  height:25px;
}
#u6648_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6648_input {
  font-family:'应用字体';
}
#u6649 {
  position:absolute;
  left:1250px;
  top:235px;
  width:100px;
  height:25px;
}
#u6649_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6649_input {
  font-family:'应用字体';
}
#u6650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:320px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6650 {
  position:absolute;
  left:280px;
  top:340px;
  width:1080px;
  height:320px;
  text-align:left;
}
#u6651 {
  position:absolute;
  left:2px;
  top:2px;
  width:1076px;
  word-wrap:break-word;
}
#u6652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6652 {
  position:absolute;
  left:526px;
  top:198px;
  width:53px;
  height:16px;
}
#u6653 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6654 {
  position:absolute;
  left:771px;
  top:198px;
  width:53px;
  height:16px;
}
#u6655 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6656 {
  position:absolute;
  left:841px;
  top:195px;
  width:100px;
  height:22px;
}
#u6656_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6656_input {
  font-family:'应用字体';
}
#u6656_input:disabled {
  color:grayText;
}
#u6657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6657 {
  position:absolute;
  left:300px;
  top:243px;
  width:53px;
  height:16px;
}
#u6658 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6659 {
  position:absolute;
  left:360px;
  top:198px;
  width:100px;
  height:22px;
}
#u6659_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6659_input {
  font-family:'应用字体';
}
#u6660 {
  position:absolute;
  left:361px;
  top:239px;
  width:100px;
  height:22px;
}
#u6660_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6660_input {
  font-family:'应用字体';
}
#u6661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6661 {
  position:absolute;
  left:471px;
  top:245px;
  width:108px;
  height:16px;
}
#u6662 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u6663 {
  position:absolute;
  left:587px;
  top:241px;
  width:100px;
  height:22px;
}
#u6663_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6663_input {
  font-family:'应用字体';
}
#u6664 {
  position:absolute;
  left:589px;
  top:195px;
  width:100px;
  height:22px;
}
#u6664_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6664_input {
  font-family:'应用字体';
}
#u6664_input:disabled {
  color:grayText;
}
#u6665 {
  position:absolute;
  left:308px;
  top:295px;
  width:100px;
  height:25px;
}
#u6665_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6665_input {
  font-family:'应用字体';
}
#u6666 {
  position:absolute;
  left:418px;
  top:295px;
  width:100px;
  height:25px;
}
#u6666_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6666_input {
  font-family:'应用字体';
}
#u6667 {
  position:absolute;
  left:528px;
  top:295px;
  width:100px;
  height:25px;
}
#u6667_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6667_input {
  font-family:'应用字体';
}
#u6668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:410px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6668 {
  position:absolute;
  left:280px;
  top:740px;
  width:930px;
  height:410px;
}
#u6669 {
  position:absolute;
  left:2px;
  top:197px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6670 {
  position:absolute;
  left:289px;
  top:988px;
  width:901px;
  height:100px;
  text-align:left;
}
#u6671 {
  position:absolute;
  left:2px;
  top:2px;
  width:897px;
  word-wrap:break-word;
}
#u6672 {
  position:absolute;
  left:969px;
  top:1108px;
  width:100px;
  height:25px;
}
#u6672_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6672_input {
  font-family:'应用字体';
}
#u6673 {
  position:absolute;
  left:1090px;
  top:1108px;
  width:100px;
  height:25px;
}
#u6673_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6673_input {
  font-family:'应用字体';
}
#u6674_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:430px;
}
#u6674p000 {
  position:absolute;
  left:-210px;
  top:209px;
  width:421px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6674p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:441px;
  height:12px;
}
#u6674p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u6674p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u6674p002 {
  position:absolute;
  left:-11px;
  top:405px;
  width:22px;
  height:22px;
}
#u6674p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u6674.compound {
  width:0px;
  height:0px;
}
#u6674 {
  position:absolute;
  left:358px;
  top:320px;
  width:1px;
  height:420px;
}
#u6675 {
  position:absolute;
  left:2px;
  top:202px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6676 {
  position:absolute;
  left:80px;
  top:140px;
  width:187px;
  height:528px;
}
#u6677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u6677 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u6678 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u6679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:281px;
}
#u6679 {
  position:absolute;
  left:0px;
  top:48px;
  width:182px;
  height:281px;
  text-align:center;
}
#u6680 {
  position:absolute;
  left:2px;
  top:132px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u6681 {
  position:absolute;
  left:0px;
  top:329px;
  width:182px;
  height:48px;
  text-align:center;
}
#u6682 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u6683 {
  position:absolute;
  left:0px;
  top:377px;
  width:182px;
  height:48px;
  text-align:center;
}
#u6684 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u6685 {
  position:absolute;
  left:0px;
  top:425px;
  width:182px;
  height:48px;
  text-align:center;
}
#u6686 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:50px;
}
#u6687 {
  position:absolute;
  left:0px;
  top:473px;
  width:182px;
  height:50px;
  text-align:center;
}
#u6688 {
  position:absolute;
  left:2px;
  top:17px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6689 {
  position:absolute;
  left:80px;
  top:200px;
  width:170px;
  height:225px;
}
#u6689_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6690 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u6691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u6691 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u6691_img.selected {
}
#u6691.selected {
}
#u6692 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6693 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6694 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6690_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6695 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u6696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6696 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u6697 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u6698 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u6699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6699 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6700 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6701 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u6702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6702 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6703 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6704 {
  position:absolute;
  left:20px;
  top:80px;
  width:145px;
  height:20px;
}
#u6705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6705 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u6706 {
  position:absolute;
  left:3px;
  top:1px;
  width:118px;
  white-space:nowrap;
}
#u6707 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u6708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6708 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6709 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6710 {
  position:absolute;
  left:20px;
  top:120px;
  width:80px;
  height:20px;
}
#u6711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6711 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6712 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6713 {
  position:absolute;
  left:20px;
  top:140px;
  width:145px;
  height:20px;
}
#u6714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6714 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u6715 {
  position:absolute;
  left:3px;
  top:1px;
  width:118px;
  white-space:nowrap;
}
#u6716 {
  position:absolute;
  left:20px;
  top:160px;
  width:80px;
  height:20px;
}
#u6717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6717 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6718 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6719 {
  position:absolute;
  left:20px;
  top:180px;
  width:80px;
  height:20px;
}
#u6720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6720 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6721 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6722 {
  position:absolute;
  left:20px;
  top:200px;
  width:106px;
  height:20px;
}
#u6723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6723 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u6724 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u6725 {
  position:absolute;
  left:289px;
  top:949px;
  width:100px;
  height:25px;
}
#u6725_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6725_input {
  font-family:'应用字体';
}
#u6726 {
  position:absolute;
  left:410px;
  top:949px;
  width:100px;
  height:25px;
}
#u6726_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6726_input {
  font-family:'应用字体';
}
#u6727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6727 {
  position:absolute;
  left:418px;
  top:762px;
  width:53px;
  height:16px;
}
#u6728 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6729 {
  position:absolute;
  left:484px;
  top:760px;
  width:100px;
  height:22px;
}
#u6729_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6729_input {
  font-family:'应用字体';
}
#u6730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6730 {
  position:absolute;
  left:857px;
  top:764px;
  width:53px;
  height:16px;
}
#u6731 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6732 {
  position:absolute;
  left:918px;
  top:762px;
  width:100px;
  height:22px;
}
#u6732_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6732_input {
  font-family:'应用字体';
}
#u6733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6733 {
  position:absolute;
  left:418px;
  top:795px;
  width:27px;
  height:16px;
}
#u6734 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6735 {
  position:absolute;
  left:484px;
  top:793px;
  width:100px;
  height:22px;
}
#u6735_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6735_input {
  font-family:'应用字体';
}
#u6736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6736 {
  position:absolute;
  left:418px;
  top:828px;
  width:53px;
  height:16px;
}
#u6737 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6738 {
  position:absolute;
  left:484px;
  top:826px;
  width:100px;
  height:22px;
}
#u6738_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6738_input {
  font-family:'应用字体';
}
#u6739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6739 {
  position:absolute;
  left:856px;
  top:830px;
  width:53px;
  height:16px;
}
#u6740 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6741 {
  position:absolute;
  left:918px;
  top:828px;
  width:100px;
  height:22px;
}
#u6741_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6741_input {
  font-family:'应用字体';
}
#u6742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6742 {
  position:absolute;
  left:856px;
  top:796px;
  width:40px;
  height:16px;
}
#u6743 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6744 {
  position:absolute;
  left:918px;
  top:794px;
  width:100px;
  height:22px;
}
#u6744_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6744_input {
  font-family:'应用字体';
}
#u6745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6745 {
  position:absolute;
  left:418px;
  top:861px;
  width:53px;
  height:16px;
}
#u6746 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6747 {
  position:absolute;
  left:484px;
  top:859px;
  width:100px;
  height:22px;
}
#u6747_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6747_input {
  font-family:'应用字体';
}
#u6748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6748 {
  position:absolute;
  left:856px;
  top:863px;
  width:53px;
  height:16px;
}
#u6749 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6750 {
  position:absolute;
  left:918px;
  top:861px;
  width:100px;
  height:22px;
}
#u6750_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6750_input {
  font-family:'应用字体';
}
#u6751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6751 {
  position:absolute;
  left:418px;
  top:906px;
  width:27px;
  height:16px;
}
#u6752 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6753 {
  position:absolute;
  left:484px;
  top:894px;
  width:534px;
  height:40px;
}
#u6753_input {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6753_input {
  font-family:'应用字体';
}
