body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6435 {
  position:absolute;
  left:80px;
  top:20px;
  width:1210px;
  height:100px;
}
#u6436 {
  position:absolute;
  left:2px;
  top:42px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:41px;
}
#u6437 {
  position:absolute;
  left:110px;
  top:40px;
  width:170px;
  height:40px;
}
#u6438 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6439 {
  position:absolute;
  left:80px;
  top:140px;
  width:187px;
  height:528px;
}
#u6440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u6440 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u6441 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u6442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:281px;
}
#u6442 {
  position:absolute;
  left:0px;
  top:48px;
  width:182px;
  height:281px;
  text-align:center;
}
#u6443 {
  position:absolute;
  left:2px;
  top:132px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u6444 {
  position:absolute;
  left:0px;
  top:329px;
  width:182px;
  height:48px;
  text-align:center;
}
#u6445 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u6446 {
  position:absolute;
  left:0px;
  top:377px;
  width:182px;
  height:48px;
  text-align:center;
}
#u6447 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u6448 {
  position:absolute;
  left:0px;
  top:425px;
  width:182px;
  height:48px;
  text-align:center;
}
#u6449 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:50px;
}
#u6450 {
  position:absolute;
  left:0px;
  top:473px;
  width:182px;
  height:50px;
  text-align:center;
}
#u6451 {
  position:absolute;
  left:2px;
  top:17px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6452 {
  position:absolute;
  left:280px;
  top:180px;
  width:1010px;
  height:488px;
}
#u6453 {
  position:absolute;
  left:2px;
  top:236px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6454 {
  position:absolute;
  left:80px;
  top:200px;
  width:170px;
  height:225px;
}
#u6454_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6455 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u6456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u6456 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u6456_img.selected {
}
#u6456.selected {
}
#u6457 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6458 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6459 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6455_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6460 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u6461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6461 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u6462 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u6463 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u6464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6464 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6465 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6466 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u6467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6467 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6468 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6469 {
  position:absolute;
  left:20px;
  top:80px;
  width:145px;
  height:20px;
}
#u6470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6470 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u6471 {
  position:absolute;
  left:3px;
  top:1px;
  width:118px;
  white-space:nowrap;
}
#u6472 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u6473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6473 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6474 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6475 {
  position:absolute;
  left:20px;
  top:120px;
  width:80px;
  height:20px;
}
#u6476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6476 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6477 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6478 {
  position:absolute;
  left:20px;
  top:140px;
  width:145px;
  height:20px;
}
#u6479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6479 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u6480 {
  position:absolute;
  left:3px;
  top:1px;
  width:118px;
  white-space:nowrap;
}
#u6481 {
  position:absolute;
  left:20px;
  top:160px;
  width:80px;
  height:20px;
}
#u6482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6482 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6483 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6484 {
  position:absolute;
  left:20px;
  top:180px;
  width:80px;
  height:20px;
}
#u6485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6485 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6486 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6487 {
  position:absolute;
  left:20px;
  top:200px;
  width:106px;
  height:20px;
}
#u6488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6488 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u6489 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u6490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6490 {
  position:absolute;
  left:280px;
  top:140px;
  width:200px;
  height:30px;
}
#u6491 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u6492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u6492 {
  position:absolute;
  left:447px;
  top:144px;
  width:28px;
  height:25px;
}
#u6493 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6494 {
  position:absolute;
  left:280px;
  top:190px;
  width:990px;
  height:140px;
}
#u6495 {
  position:absolute;
  left:2px;
  top:62px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6496 {
  position:absolute;
  left:308px;
  top:200px;
  width:27px;
  height:16px;
}
#u6497 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6498 {
  position:absolute;
  left:360px;
  top:197px;
  width:100px;
  height:22px;
}
#u6498_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6498_input {
  font-family:'应用字体';
}
#u6498_input:disabled {
  color:grayText;
}
#u6499 {
  position:absolute;
  left:1050px;
  top:235px;
  width:100px;
  height:25px;
}
#u6499_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6499_input {
  font-family:'应用字体';
}
#u6500 {
  position:absolute;
  left:1160px;
  top:235px;
  width:100px;
  height:25px;
}
#u6500_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6500_input {
  font-family:'应用字体';
}
#u6501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6501 {
  position:absolute;
  left:317px;
  top:590px;
  width:508px;
  height:18px;
}
#u6502 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  white-space:nowrap;
}
#u6503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6503 {
  position:absolute;
  left:526px;
  top:198px;
  width:53px;
  height:16px;
}
#u6504 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6505 {
  position:absolute;
  left:602px;
  top:195px;
  width:100px;
  height:22px;
}
#u6505_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6505_input {
  font-family:'应用字体';
}
#u6506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6506 {
  position:absolute;
  left:771px;
  top:198px;
  width:66px;
  height:16px;
}
#u6507 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6508 {
  position:absolute;
  left:841px;
  top:195px;
  width:100px;
  height:22px;
}
#u6508_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6508_input {
  font-family:'应用字体';
}
#u6508_input:disabled {
  color:grayText;
}
#u6509 {
  position:absolute;
  left:306px;
  top:247px;
  width:100px;
  height:18px;
}
#u6510 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6509_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6511 {
  position:absolute;
  left:398px;
  top:247px;
  width:100px;
  height:18px;
}
#u6512 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6511_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6513 {
  position:absolute;
  left:488px;
  top:247px;
  width:100px;
  height:18px;
}
#u6514 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6513_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6515 {
  position:absolute;
  left:580px;
  top:247px;
  width:100px;
  height:18px;
}
#u6516 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6515_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6517 {
  position:absolute;
  left:282px;
  top:345px;
  width:990px;
  height:310px;
  text-align:left;
}
#u6518 {
  position:absolute;
  left:2px;
  top:2px;
  width:986px;
  word-wrap:break-word;
}
#u6519 {
  position:absolute;
  left:308px;
  top:285px;
  width:100px;
  height:25px;
}
#u6519_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6519_input {
  font-family:'应用字体';
}
#u6520 {
  position:absolute;
  left:440px;
  top:285px;
  width:100px;
  height:25px;
}
#u6520_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6520_input {
  font-family:'应用字体';
}
#u6521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:540px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6521 {
  position:absolute;
  left:430px;
  top:770px;
  width:760px;
  height:540px;
}
#u6522 {
  position:absolute;
  left:2px;
  top:262px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6523 {
  position:absolute;
  left:470px;
  top:940px;
  width:690px;
  height:140px;
  text-align:left;
}
#u6524 {
  position:absolute;
  left:2px;
  top:2px;
  width:686px;
  word-wrap:break-word;
}
#u6525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6525 {
  position:absolute;
  left:487px;
  top:934px;
  width:53px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6526 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6527 {
  position:absolute;
  left:522px;
  top:798px;
  width:27px;
  height:16px;
}
#u6528 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6529 {
  position:absolute;
  left:599px;
  top:795px;
  width:100px;
  height:22px;
}
#u6529_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6529_input {
  font-family:'应用字体';
}
#u6530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6530 {
  position:absolute;
  left:894px;
  top:798px;
  width:27px;
  height:16px;
}
#u6531 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6532 {
  position:absolute;
  left:970px;
  top:795px;
  width:100px;
  height:22px;
}
#u6532_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6532_input {
  font-family:'应用字体';
}
#u6533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6533 {
  position:absolute;
  left:522px;
  top:841px;
  width:66px;
  height:16px;
}
#u6534 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6535 {
  position:absolute;
  left:598px;
  top:838px;
  width:100px;
  height:22px;
}
#u6535_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6535_input {
  font-family:'应用字体';
}
#u6536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6536 {
  position:absolute;
  left:894px;
  top:841px;
  width:40px;
  height:16px;
}
#u6537 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6538 {
  position:absolute;
  left:970px;
  top:838px;
  width:100px;
  height:22px;
}
#u6538_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6538_input {
  font-family:'应用字体';
}
#u6539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6539 {
  position:absolute;
  left:470px;
  top:1116px;
  width:690px;
  height:140px;
  text-align:left;
}
#u6540 {
  position:absolute;
  left:2px;
  top:2px;
  width:686px;
  word-wrap:break-word;
}
#u6541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6541 {
  position:absolute;
  left:494px;
  top:1110px;
  width:53px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6542 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6543 {
  position:absolute;
  left:950px;
  top:1267px;
  width:100px;
  height:25px;
}
#u6543_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6543_input {
  font-family:'应用字体';
}
#u6544 {
  position:absolute;
  left:1070px;
  top:1267px;
  width:100px;
  height:25px;
}
#u6544_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6544_input {
  font-family:'应用字体';
}
#u6545_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:470px;
}
#u6545p000 {
  position:absolute;
  left:-230px;
  top:229px;
  width:461px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6545p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:481px;
  height:12px;
}
#u6545p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u6545p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u6545p002 {
  position:absolute;
  left:-11px;
  top:445px;
  width:22px;
  height:22px;
}
#u6545p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u6545.compound {
  width:0px;
  height:0px;
}
#u6545 {
  position:absolute;
  left:490px;
  top:310px;
  width:1px;
  height:460px;
}
#u6546 {
  position:absolute;
  left:2px;
  top:222px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6547 {
  position:absolute;
  left:834px;
  top:1267px;
  width:100px;
  height:25px;
}
#u6547_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6547_input {
  font-family:'应用字体';
}
