body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6754 {
  position:absolute;
  left:80px;
  top:20px;
  width:1290px;
  height:100px;
}
#u6755 {
  position:absolute;
  left:2px;
  top:42px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:41px;
}
#u6756 {
  position:absolute;
  left:110px;
  top:40px;
  width:170px;
  height:40px;
}
#u6757 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6758 {
  position:absolute;
  left:280px;
  top:180px;
  width:1090px;
  height:488px;
}
#u6759 {
  position:absolute;
  left:2px;
  top:236px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6760 {
  position:absolute;
  left:276px;
  top:140px;
  width:200px;
  height:30px;
}
#u6761 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u6762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u6762 {
  position:absolute;
  left:447px;
  top:144px;
  width:28px;
  height:25px;
}
#u6763 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6764 {
  position:absolute;
  left:289px;
  top:190px;
  width:1071px;
  height:140px;
}
#u6765 {
  position:absolute;
  left:2px;
  top:62px;
  width:1067px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6766 {
  position:absolute;
  left:308px;
  top:200px;
  width:27px;
  height:16px;
}
#u6767 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6768 {
  position:absolute;
  left:1140px;
  top:235px;
  width:100px;
  height:25px;
}
#u6768_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6768_input {
  font-family:'应用字体';
}
#u6769 {
  position:absolute;
  left:1250px;
  top:235px;
  width:100px;
  height:25px;
}
#u6769_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6769_input {
  font-family:'应用字体';
}
#u6770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:320px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6770 {
  position:absolute;
  left:280px;
  top:340px;
  width:1080px;
  height:320px;
  text-align:left;
}
#u6771 {
  position:absolute;
  left:2px;
  top:2px;
  width:1076px;
  word-wrap:break-word;
}
#u6772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6772 {
  position:absolute;
  left:552px;
  top:201px;
  width:53px;
  height:16px;
}
#u6773 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6774 {
  position:absolute;
  left:622px;
  top:198px;
  width:100px;
  height:22px;
}
#u6774_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6774_input {
  font-family:'应用字体';
}
#u6774_input:disabled {
  color:grayText;
}
#u6775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6775 {
  position:absolute;
  left:300px;
  top:243px;
  width:53px;
  height:16px;
}
#u6776 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6777 {
  position:absolute;
  left:360px;
  top:198px;
  width:100px;
  height:22px;
}
#u6777_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6777_input {
  font-family:'应用字体';
}
#u6778 {
  position:absolute;
  left:361px;
  top:239px;
  width:100px;
  height:22px;
}
#u6778_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6778_input {
  font-family:'应用字体';
}
#u6779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6779 {
  position:absolute;
  left:471px;
  top:245px;
  width:108px;
  height:16px;
}
#u6780 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u6781 {
  position:absolute;
  left:587px;
  top:241px;
  width:100px;
  height:22px;
}
#u6781_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6781_input {
  font-family:'应用字体';
}
#u6782 {
  position:absolute;
  left:308px;
  top:295px;
  width:100px;
  height:25px;
}
#u6782_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6782_input {
  font-family:'应用字体';
}
#u6783 {
  position:absolute;
  left:422px;
  top:295px;
  width:100px;
  height:25px;
}
#u6783_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6783_input {
  font-family:'应用字体';
}
#u6784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6784 {
  position:absolute;
  left:280px;
  top:740px;
  width:800px;
  height:360px;
}
#u6785 {
  position:absolute;
  left:2px;
  top:172px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6786 {
  position:absolute;
  left:396px;
  top:752px;
  width:53px;
  height:16px;
}
#u6787 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6788 {
  position:absolute;
  left:462px;
  top:750px;
  width:100px;
  height:22px;
}
#u6788_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6788_input {
  font-family:'应用字体';
}
#u6789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6789 {
  position:absolute;
  left:327px;
  top:802px;
  width:27px;
  height:16px;
}
#u6790 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6791 {
  position:absolute;
  left:387px;
  top:790px;
  width:603px;
  height:40px;
}
#u6791_input {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6791_input {
  font-family:'应用字体';
}
#u6792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6792 {
  position:absolute;
  left:289px;
  top:900px;
  width:771px;
  height:130px;
  text-align:left;
}
#u6793 {
  position:absolute;
  left:2px;
  top:2px;
  width:767px;
  word-wrap:break-word;
}
#u6794 {
  position:absolute;
  left:790px;
  top:1055px;
  width:100px;
  height:25px;
}
#u6794_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6794_input {
  font-family:'应用字体';
}
#u6795 {
  position:absolute;
  left:910px;
  top:1055px;
  width:100px;
  height:25px;
}
#u6795_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6795_input {
  font-family:'应用字体';
}
#u6796_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:430px;
}
#u6796p000 {
  position:absolute;
  left:-210px;
  top:209px;
  width:421px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6796p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:441px;
  height:12px;
}
#u6796p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u6796p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u6796p002 {
  position:absolute;
  left:-11px;
  top:405px;
  width:22px;
  height:22px;
}
#u6796p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u6796.compound {
  width:0px;
  height:0px;
}
#u6796 {
  position:absolute;
  left:358px;
  top:320px;
  width:1px;
  height:420px;
}
#u6797 {
  position:absolute;
  left:2px;
  top:202px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6798 {
  position:absolute;
  left:80px;
  top:140px;
  width:187px;
  height:528px;
}
#u6799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u6799 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u6800 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u6801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:281px;
}
#u6801 {
  position:absolute;
  left:0px;
  top:48px;
  width:182px;
  height:281px;
  text-align:center;
}
#u6802 {
  position:absolute;
  left:2px;
  top:132px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u6803 {
  position:absolute;
  left:0px;
  top:329px;
  width:182px;
  height:48px;
  text-align:center;
}
#u6804 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u6805 {
  position:absolute;
  left:0px;
  top:377px;
  width:182px;
  height:48px;
  text-align:center;
}
#u6806 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u6807 {
  position:absolute;
  left:0px;
  top:425px;
  width:182px;
  height:48px;
  text-align:center;
}
#u6808 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:50px;
}
#u6809 {
  position:absolute;
  left:0px;
  top:473px;
  width:182px;
  height:50px;
  text-align:center;
}
#u6810 {
  position:absolute;
  left:2px;
  top:17px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6811 {
  position:absolute;
  left:80px;
  top:200px;
  width:170px;
  height:225px;
}
#u6811_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6812 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u6813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u6813 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u6813_img.selected {
}
#u6813.selected {
}
#u6814 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6815 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6816 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6812_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6817 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u6818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6818 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u6819 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u6820 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u6821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6821 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6822 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6823 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u6824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6824 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6825 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6826 {
  position:absolute;
  left:20px;
  top:80px;
  width:145px;
  height:20px;
}
#u6827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6827 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u6828 {
  position:absolute;
  left:3px;
  top:1px;
  width:118px;
  white-space:nowrap;
}
#u6829 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u6830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6830 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6831 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6832 {
  position:absolute;
  left:20px;
  top:120px;
  width:80px;
  height:20px;
}
#u6833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6833 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6834 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6835 {
  position:absolute;
  left:20px;
  top:140px;
  width:145px;
  height:20px;
}
#u6836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6836 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u6837 {
  position:absolute;
  left:3px;
  top:1px;
  width:118px;
  white-space:nowrap;
}
#u6838 {
  position:absolute;
  left:20px;
  top:160px;
  width:80px;
  height:20px;
}
#u6839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6839 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6840 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6841 {
  position:absolute;
  left:20px;
  top:180px;
  width:80px;
  height:20px;
}
#u6842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6842 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6843 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u6844 {
  position:absolute;
  left:20px;
  top:200px;
  width:106px;
  height:20px;
}
#u6845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6845 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u6846 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u6847 {
  position:absolute;
  left:289px;
  top:855px;
  width:100px;
  height:25px;
}
#u6847_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6847_input {
  font-family:'应用字体';
}
#u6848 {
  position:absolute;
  left:410px;
  top:855px;
  width:100px;
  height:25px;
}
#u6848_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6848_input {
  font-family:'应用字体';
}
#u6849 {
  position:absolute;
  left:540px;
  top:295px;
  width:100px;
  height:25px;
}
#u6849_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6849_input {
  font-family:'应用字体';
}
#u6850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6850 {
  position:absolute;
  left:718px;
  top:754px;
  width:40px;
  height:16px;
}
#u6851 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6852 {
  position:absolute;
  left:770px;
  top:752px;
  width:100px;
  height:22px;
}
#u6852_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6852_input {
  font-family:'应用字体';
}
