body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7068 {
  position:absolute;
  left:80px;
  top:20px;
  width:1210px;
  height:100px;
}
#u7069 {
  position:absolute;
  left:2px;
  top:42px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:41px;
}
#u7070 {
  position:absolute;
  left:110px;
  top:40px;
  width:170px;
  height:40px;
}
#u7071 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7072 {
  position:absolute;
  left:280px;
  top:180px;
  width:1010px;
  height:488px;
}
#u7073 {
  position:absolute;
  left:2px;
  top:236px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7074 {
  position:absolute;
  left:280px;
  top:140px;
  width:200px;
  height:30px;
}
#u7075 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u7076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u7076 {
  position:absolute;
  left:447px;
  top:144px;
  width:28px;
  height:25px;
}
#u7077 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7078 {
  position:absolute;
  left:280px;
  top:190px;
  width:990px;
  height:130px;
}
#u7079 {
  position:absolute;
  left:2px;
  top:57px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7080 {
  position:absolute;
  left:308px;
  top:200px;
  width:27px;
  height:16px;
}
#u7081 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7082 {
  position:absolute;
  left:360px;
  top:197px;
  width:100px;
  height:22px;
}
#u7082_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7082_input {
  font-family:'应用字体';
}
#u7082_input:disabled {
  color:grayText;
}
#u7083 {
  position:absolute;
  left:1050px;
  top:235px;
  width:100px;
  height:25px;
}
#u7083_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7083_input {
  font-family:'应用字体';
}
#u7084 {
  position:absolute;
  left:1160px;
  top:235px;
  width:100px;
  height:25px;
}
#u7084_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7084_input {
  font-family:'应用字体';
}
#u7085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7085 {
  position:absolute;
  left:280px;
  top:340px;
  width:990px;
  height:310px;
  text-align:left;
}
#u7086 {
  position:absolute;
  left:2px;
  top:2px;
  width:986px;
  word-wrap:break-word;
}
#u7087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7087 {
  position:absolute;
  left:526px;
  top:198px;
  width:27px;
  height:16px;
}
#u7088 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7089 {
  position:absolute;
  left:597px;
  top:195px;
  width:100px;
  height:22px;
}
#u7089_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7089_input {
  font-family:'应用字体';
}
#u7089_input:disabled {
  color:grayText;
}
#u7090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7090 {
  position:absolute;
  left:306px;
  top:243px;
  width:40px;
  height:16px;
}
#u7091 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7092 {
  position:absolute;
  left:360px;
  top:240px;
  width:100px;
  height:21px;
}
#u7092_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7092_input {
  font-family:'应用字体';
}
#u7093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7093 {
  position:absolute;
  left:526px;
  top:246px;
  width:14px;
  height:16px;
}
#u7094 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u7095 {
  position:absolute;
  left:601px;
  top:243px;
  width:100px;
  height:21px;
}
#u7095_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7095_input {
  font-family:'应用字体';
}
#u7096 {
  position:absolute;
  left:308px;
  top:285px;
  width:100px;
  height:25px;
}
#u7096_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7096_input {
  font-family:'应用字体';
}
#u7097 {
  position:absolute;
  left:440px;
  top:285px;
  width:100px;
  height:25px;
}
#u7097_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7097_input {
  font-family:'应用字体';
}
#u7098 {
  position:absolute;
  left:580px;
  top:285px;
  width:100px;
  height:25px;
}
#u7098_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7098_input {
  font-family:'应用字体';
}
#u7099 {
  position:absolute;
  left:80px;
  top:140px;
  width:187px;
  height:528px;
}
#u7100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u7100 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u7101 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u7102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:281px;
}
#u7102 {
  position:absolute;
  left:0px;
  top:48px;
  width:182px;
  height:281px;
  text-align:center;
}
#u7103 {
  position:absolute;
  left:2px;
  top:132px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u7104 {
  position:absolute;
  left:0px;
  top:329px;
  width:182px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u7105 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u7106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u7106 {
  position:absolute;
  left:0px;
  top:377px;
  width:182px;
  height:48px;
  text-align:center;
}
#u7107 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u7108 {
  position:absolute;
  left:0px;
  top:425px;
  width:182px;
  height:48px;
  text-align:center;
}
#u7109 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:50px;
}
#u7110 {
  position:absolute;
  left:0px;
  top:473px;
  width:182px;
  height:50px;
  text-align:center;
}
#u7111 {
  position:absolute;
  left:2px;
  top:17px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7112 {
  position:absolute;
  left:87px;
  top:195px;
  width:170px;
  height:165px;
}
#u7112_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7113 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u7114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u7114 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u7114_img.selected {
}
#u7114.selected {
}
#u7115 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7116 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7117 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u7113_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7118 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u7119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7119 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u7120 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u7121 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u7122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7122 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7123 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u7124 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u7125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7125 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7126 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u7127 {
  position:absolute;
  left:20px;
  top:80px;
  width:145px;
  height:20px;
}
#u7128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7128 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u7129 {
  position:absolute;
  left:3px;
  top:1px;
  width:118px;
  white-space:nowrap;
}
#u7130 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u7131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7131 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7132 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u7133 {
  position:absolute;
  left:20px;
  top:120px;
  width:80px;
  height:20px;
}
#u7134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7134 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7135 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u7136 {
  position:absolute;
  left:20px;
  top:140px;
  width:106px;
  height:20px;
}
#u7137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7137 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u7138 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u7139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7139 {
  position:absolute;
  left:280px;
  top:700px;
  width:700px;
  height:480px;
}
#u7140 {
  position:absolute;
  left:2px;
  top:232px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7141 {
  position:absolute;
  left:319px;
  top:732px;
  width:40px;
  height:16px;
}
#u7142 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7143 {
  position:absolute;
  left:377px;
  top:730px;
  width:142px;
  height:21px;
}
#u7143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7143_input {
  font-family:'应用字体';
}
#u7144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7144 {
  position:absolute;
  left:670px;
  top:734px;
  width:27px;
  height:16px;
}
#u7145 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7146 {
  position:absolute;
  left:724px;
  top:730px;
  width:136px;
  height:21px;
}
#u7146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7146_input {
  font-family:'应用字体';
}
#u7147 {
  position:absolute;
  left:381px;
  top:780px;
  width:479px;
  height:60px;
}
#u7147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7147_input {
  font-family:'应用字体';
}
#u7148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7148 {
  position:absolute;
  left:319px;
  top:802px;
  width:27px;
  height:28px;
}
#u7149 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7150 {
  position:absolute;
  left:300px;
  top:920px;
  width:670px;
  height:200px;
  text-align:left;
}
#u7151 {
  position:absolute;
  left:2px;
  top:2px;
  width:666px;
  word-wrap:break-word;
}
#u7152 {
  position:absolute;
  left:300px;
  top:880px;
  width:100px;
  height:25px;
}
#u7152_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7152_input {
  font-family:'应用字体';
}
#u7153 {
  position:absolute;
  left:430px;
  top:880px;
  width:100px;
  height:25px;
}
#u7153_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7153_input {
  font-family:'应用字体';
}
#u7154_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:400px;
}
#u7154p000 {
  position:absolute;
  left:-195px;
  top:194px;
  width:391px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7154p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:411px;
  height:12px;
}
#u7154p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u7154p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u7154p002 {
  position:absolute;
  left:-11px;
  top:375px;
  width:22px;
  height:22px;
}
#u7154p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u7154.compound {
  width:0px;
  height:0px;
}
#u7154 {
  position:absolute;
  left:358px;
  top:310px;
  width:1px;
  height:390px;
}
#u7155 {
  position:absolute;
  left:2px;
  top:187px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7156 {
  position:absolute;
  left:568px;
  top:1140px;
  width:100px;
  height:25px;
}
#u7156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7156_input {
  font-family:'应用字体';
}
#u7157 {
  position:absolute;
  left:698px;
  top:1140px;
  width:100px;
  height:25px;
}
#u7157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7157_input {
  font-family:'应用字体';
}
