body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u836 {
  position:absolute;
  left:80px;
  top:20px;
  width:1290px;
  height:100px;
}
#u837 {
  position:absolute;
  left:2px;
  top:42px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:41px;
}
#u838 {
  position:absolute;
  left:110px;
  top:40px;
  width:170px;
  height:40px;
}
#u839 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u840 {
  position:absolute;
  left:280px;
  top:180px;
  width:1090px;
  height:488px;
}
#u841 {
  position:absolute;
  left:2px;
  top:236px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u842 {
  position:absolute;
  left:276px;
  top:140px;
  width:200px;
  height:30px;
}
#u843 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u844 {
  position:absolute;
  left:447px;
  top:144px;
  width:28px;
  height:25px;
}
#u845 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u846 {
  position:absolute;
  left:289px;
  top:190px;
  width:1071px;
  height:140px;
}
#u847 {
  position:absolute;
  left:2px;
  top:62px;
  width:1067px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u848 {
  position:absolute;
  left:308px;
  top:200px;
  width:27px;
  height:16px;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u850 {
  position:absolute;
  left:1140px;
  top:235px;
  width:100px;
  height:25px;
}
#u850_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u850_input {
  font-family:'应用字体';
}
#u851 {
  position:absolute;
  left:1250px;
  top:235px;
  width:100px;
  height:25px;
}
#u851_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u851_input {
  font-family:'应用字体';
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:320px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u852 {
  position:absolute;
  left:280px;
  top:340px;
  width:1080px;
  height:320px;
  text-align:left;
}
#u853 {
  position:absolute;
  left:2px;
  top:2px;
  width:1076px;
  word-wrap:break-word;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u854 {
  position:absolute;
  left:552px;
  top:201px;
  width:53px;
  height:16px;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u856 {
  position:absolute;
  left:622px;
  top:198px;
  width:100px;
  height:22px;
}
#u856_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u856_input {
  font-family:'应用字体';
}
#u856_input:disabled {
  color:grayText;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u857 {
  position:absolute;
  left:300px;
  top:243px;
  width:53px;
  height:16px;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u859 {
  position:absolute;
  left:360px;
  top:198px;
  width:100px;
  height:22px;
}
#u859_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u859_input {
  font-family:'应用字体';
}
#u860 {
  position:absolute;
  left:361px;
  top:239px;
  width:100px;
  height:22px;
}
#u860_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u860_input {
  font-family:'应用字体';
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u861 {
  position:absolute;
  left:471px;
  top:245px;
  width:108px;
  height:16px;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u863 {
  position:absolute;
  left:587px;
  top:241px;
  width:100px;
  height:22px;
}
#u863_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u863_input {
  font-family:'应用字体';
}
#u864 {
  position:absolute;
  left:308px;
  top:295px;
  width:100px;
  height:25px;
}
#u864_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u864_input {
  font-family:'应用字体';
}
#u865 {
  position:absolute;
  left:418px;
  top:295px;
  width:100px;
  height:25px;
}
#u865_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u865_input {
  font-family:'应用字体';
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u866 {
  position:absolute;
  left:280px;
  top:740px;
  width:740px;
  height:360px;
}
#u867 {
  position:absolute;
  left:2px;
  top:172px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  position:absolute;
  left:435px;
  top:760px;
  width:27px;
  height:16px;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u870 {
  position:absolute;
  left:494px;
  top:758px;
  width:100px;
  height:22px;
}
#u870_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u870_input {
  font-family:'应用字体';
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  position:absolute;
  left:726px;
  top:756px;
  width:40px;
  height:16px;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u873 {
  position:absolute;
  left:778px;
  top:754px;
  width:100px;
  height:22px;
}
#u873_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u873_input {
  font-family:'应用字体';
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  position:absolute;
  left:327px;
  top:802px;
  width:27px;
  height:16px;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u876 {
  position:absolute;
  left:387px;
  top:790px;
  width:603px;
  height:40px;
}
#u876_input {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u876_input {
  font-family:'应用字体';
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u877 {
  position:absolute;
  left:289px;
  top:900px;
  width:711px;
  height:130px;
  text-align:left;
}
#u878 {
  position:absolute;
  left:2px;
  top:2px;
  width:707px;
  word-wrap:break-word;
}
#u879 {
  position:absolute;
  left:790px;
  top:1055px;
  width:100px;
  height:25px;
}
#u879_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u879_input {
  font-family:'应用字体';
}
#u880 {
  position:absolute;
  left:910px;
  top:1055px;
  width:100px;
  height:25px;
}
#u880_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u880_input {
  font-family:'应用字体';
}
#u881_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:430px;
}
#u881p000 {
  position:absolute;
  left:-210px;
  top:209px;
  width:421px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u881p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:441px;
  height:12px;
}
#u881p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u881p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u881p002 {
  position:absolute;
  left:-11px;
  top:405px;
  width:22px;
  height:22px;
}
#u881p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u881.compound {
  width:0px;
  height:0px;
}
#u881 {
  position:absolute;
  left:358px;
  top:320px;
  width:1px;
  height:420px;
}
#u882 {
  position:absolute;
  left:2px;
  top:202px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883 {
  position:absolute;
  left:80px;
  top:140px;
  width:187px;
  height:528px;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u884 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u885 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:281px;
}
#u886 {
  position:absolute;
  left:0px;
  top:48px;
  width:182px;
  height:281px;
  text-align:center;
}
#u887 {
  position:absolute;
  left:2px;
  top:132px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u888 {
  position:absolute;
  left:0px;
  top:329px;
  width:182px;
  height:48px;
  text-align:center;
}
#u889 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u890 {
  position:absolute;
  left:0px;
  top:377px;
  width:182px;
  height:48px;
  text-align:center;
}
#u891 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u892 {
  position:absolute;
  left:0px;
  top:425px;
  width:182px;
  height:48px;
  text-align:center;
}
#u893 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:50px;
}
#u894 {
  position:absolute;
  left:0px;
  top:473px;
  width:182px;
  height:50px;
  text-align:center;
}
#u895 {
  position:absolute;
  left:2px;
  top:17px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896 {
  position:absolute;
  left:80px;
  top:200px;
  width:170px;
  height:225px;
}
#u896_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u898 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u898_img.selected {
}
#u898.selected {
}
#u899 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u901 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u897_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u902 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u903 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u904 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u905 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u906 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u907 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u908 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u909 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u910 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u911 {
  position:absolute;
  left:20px;
  top:80px;
  width:132px;
  height:20px;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u912 {
  position:absolute;
  left:22px;
  top:0px;
  width:110px;
  height:20px;
}
#u913 {
  position:absolute;
  left:3px;
  top:1px;
  width:105px;
  white-space:nowrap;
}
#u914 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u915 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u916 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u917 {
  position:absolute;
  left:20px;
  top:120px;
  width:80px;
  height:20px;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u919 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u920 {
  position:absolute;
  left:20px;
  top:140px;
  width:145px;
  height:20px;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u921 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u922 {
  position:absolute;
  left:3px;
  top:1px;
  width:118px;
  white-space:nowrap;
}
#u923 {
  position:absolute;
  left:20px;
  top:160px;
  width:80px;
  height:20px;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u924 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u925 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u926 {
  position:absolute;
  left:20px;
  top:180px;
  width:80px;
  height:20px;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u927 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u928 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u929 {
  position:absolute;
  left:20px;
  top:200px;
  width:106px;
  height:20px;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u930 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u931 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u932 {
  position:absolute;
  left:1040px;
  top:870px;
  width:280px;
  height:160px;
  text-align:left;
}
#u933 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:324px;
  height:21px;
}
#u934p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:316px;
  height:1px;
}
#u934p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:326px;
  height:21px;
}
#u934p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u934p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u934p002 {
  position:absolute;
  left:299px;
  top:-11px;
  width:22px;
  height:22px;
}
#u934p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u934.compound {
  width:0px;
  height:0px;
}
#u934 {
  position:absolute;
  left:726px;
  top:959px;
  width:314px;
  height:1px;
}
#u935 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936 {
  position:absolute;
  left:1050px;
  top:880px;
  width:60px;
  height:20px;
}
#u936_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u936_input {
  font-family:'应用字体';
}
#u937 {
  position:absolute;
  left:1120px;
  top:880px;
  width:60px;
  height:20px;
}
#u937_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u937_input {
  font-family:'应用字体';
}
#u938 {
  position:absolute;
  left:1170px;
  top:1000px;
  width:60px;
  height:20px;
}
#u938_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u938_input {
  font-family:'应用字体';
}
#u939 {
  position:absolute;
  left:1240px;
  top:1000px;
  width:60px;
  height:20px;
}
#u939_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u939_input {
  font-family:'应用字体';
}
#u940 {
  position:absolute;
  left:289px;
  top:855px;
  width:100px;
  height:25px;
}
#u940_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u940_input {
  font-family:'应用字体';
}
#u941 {
  position:absolute;
  left:410px;
  top:855px;
  width:100px;
  height:25px;
}
#u941_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u941_input {
  font-family:'应用字体';
}
#u942 {
  position:absolute;
  left:540px;
  top:295px;
  width:100px;
  height:25px;
}
#u942_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u942_input {
  font-family:'应用字体';
}
