body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  position:absolute;
  left:80px;
  top:20px;
  width:1290px;
  height:100px;
}
#u944 {
  position:absolute;
  left:2px;
  top:42px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:41px;
}
#u945 {
  position:absolute;
  left:110px;
  top:40px;
  width:170px;
  height:40px;
}
#u946 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u947 {
  position:absolute;
  left:280px;
  top:180px;
  width:1090px;
  height:488px;
}
#u948 {
  position:absolute;
  left:2px;
  top:236px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u949 {
  position:absolute;
  left:276px;
  top:140px;
  width:200px;
  height:30px;
}
#u950 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u951 {
  position:absolute;
  left:447px;
  top:144px;
  width:28px;
  height:25px;
}
#u952 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u953 {
  position:absolute;
  left:289px;
  top:190px;
  width:1071px;
  height:140px;
}
#u954 {
  position:absolute;
  left:2px;
  top:62px;
  width:1067px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u955 {
  position:absolute;
  left:308px;
  top:200px;
  width:27px;
  height:16px;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u957 {
  position:absolute;
  left:1140px;
  top:235px;
  width:100px;
  height:25px;
}
#u957_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u957_input {
  font-family:'应用字体';
}
#u958 {
  position:absolute;
  left:1250px;
  top:235px;
  width:100px;
  height:25px;
}
#u958_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u958_input {
  font-family:'应用字体';
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:320px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u959 {
  position:absolute;
  left:280px;
  top:340px;
  width:1080px;
  height:320px;
  text-align:left;
}
#u960 {
  position:absolute;
  left:2px;
  top:2px;
  width:1076px;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u961 {
  position:absolute;
  left:552px;
  top:201px;
  width:53px;
  height:16px;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u963 {
  position:absolute;
  left:622px;
  top:198px;
  width:100px;
  height:22px;
}
#u963_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u963_input {
  font-family:'应用字体';
}
#u963_input:disabled {
  color:grayText;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  position:absolute;
  left:300px;
  top:243px;
  width:53px;
  height:16px;
}
#u965 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u966 {
  position:absolute;
  left:360px;
  top:198px;
  width:100px;
  height:22px;
}
#u966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u966_input {
  font-family:'应用字体';
}
#u967 {
  position:absolute;
  left:361px;
  top:239px;
  width:100px;
  height:22px;
}
#u967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u967_input {
  font-family:'应用字体';
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u968 {
  position:absolute;
  left:471px;
  top:245px;
  width:108px;
  height:16px;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u970 {
  position:absolute;
  left:587px;
  top:241px;
  width:100px;
  height:22px;
}
#u970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u970_input {
  font-family:'应用字体';
}
#u971 {
  position:absolute;
  left:308px;
  top:295px;
  width:100px;
  height:25px;
}
#u971_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u971_input {
  font-family:'应用字体';
}
#u972 {
  position:absolute;
  left:418px;
  top:295px;
  width:100px;
  height:25px;
}
#u972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u972_input {
  font-family:'应用字体';
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u973 {
  position:absolute;
  left:280px;
  top:740px;
  width:740px;
  height:460px;
}
#u974 {
  position:absolute;
  left:2px;
  top:222px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u975 {
  position:absolute;
  left:435px;
  top:760px;
  width:27px;
  height:16px;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u977 {
  position:absolute;
  left:494px;
  top:758px;
  width:100px;
  height:22px;
}
#u977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u977_input {
  font-family:'应用字体';
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u978 {
  position:absolute;
  left:726px;
  top:756px;
  width:40px;
  height:16px;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u980 {
  position:absolute;
  left:778px;
  top:754px;
  width:100px;
  height:22px;
}
#u980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u980_input {
  font-family:'应用字体';
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u981 {
  position:absolute;
  left:314px;
  top:902px;
  width:27px;
  height:16px;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u983 {
  position:absolute;
  left:374px;
  top:890px;
  width:603px;
  height:40px;
}
#u983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u983_input {
  font-family:'应用字体';
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u984 {
  position:absolute;
  left:290px;
  top:999px;
  width:711px;
  height:130px;
  text-align:left;
}
#u985 {
  position:absolute;
  left:2px;
  top:2px;
  width:707px;
  word-wrap:break-word;
}
#u986 {
  position:absolute;
  left:791px;
  top:1154px;
  width:100px;
  height:25px;
}
#u986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u986_input {
  font-family:'应用字体';
}
#u987 {
  position:absolute;
  left:911px;
  top:1154px;
  width:100px;
  height:25px;
}
#u987_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u987_input {
  font-family:'应用字体';
}
#u988_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:430px;
}
#u988p000 {
  position:absolute;
  left:-210px;
  top:209px;
  width:421px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u988p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:441px;
  height:12px;
}
#u988p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u988p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u988p002 {
  position:absolute;
  left:-11px;
  top:405px;
  width:22px;
  height:22px;
}
#u988p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u988.compound {
  width:0px;
  height:0px;
}
#u988 {
  position:absolute;
  left:358px;
  top:320px;
  width:1px;
  height:420px;
}
#u989 {
  position:absolute;
  left:2px;
  top:202px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990 {
  position:absolute;
  left:80px;
  top:140px;
  width:187px;
  height:528px;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u992 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:281px;
}
#u993 {
  position:absolute;
  left:0px;
  top:48px;
  width:182px;
  height:281px;
  text-align:center;
}
#u994 {
  position:absolute;
  left:2px;
  top:132px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u995 {
  position:absolute;
  left:0px;
  top:329px;
  width:182px;
  height:48px;
  text-align:center;
}
#u996 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u997 {
  position:absolute;
  left:0px;
  top:377px;
  width:182px;
  height:48px;
  text-align:center;
}
#u998 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u999 {
  position:absolute;
  left:0px;
  top:425px;
  width:182px;
  height:48px;
  text-align:center;
}
#u1000 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:50px;
}
#u1001 {
  position:absolute;
  left:0px;
  top:473px;
  width:182px;
  height:50px;
  text-align:center;
}
#u1002 {
  position:absolute;
  left:2px;
  top:17px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003 {
  position:absolute;
  left:80px;
  top:200px;
  width:170px;
  height:225px;
}
#u1003_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1005 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1005_img.selected {
}
#u1005.selected {
}
#u1006 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1007 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1008 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1004_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1009 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1010 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u1011 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u1012 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1013 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1014 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1015 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1017 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1018 {
  position:absolute;
  left:20px;
  top:80px;
  width:132px;
  height:20px;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1019 {
  position:absolute;
  left:22px;
  top:0px;
  width:110px;
  height:20px;
}
#u1020 {
  position:absolute;
  left:3px;
  top:1px;
  width:105px;
  white-space:nowrap;
}
#u1021 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1023 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1024 {
  position:absolute;
  left:20px;
  top:120px;
  width:80px;
  height:20px;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1025 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1026 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1027 {
  position:absolute;
  left:20px;
  top:140px;
  width:145px;
  height:20px;
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1028 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u1029 {
  position:absolute;
  left:3px;
  top:1px;
  width:118px;
  white-space:nowrap;
}
#u1030 {
  position:absolute;
  left:20px;
  top:160px;
  width:80px;
  height:20px;
}
#u1031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1031 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1032 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1033 {
  position:absolute;
  left:20px;
  top:180px;
  width:80px;
  height:20px;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1034 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1035 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1036 {
  position:absolute;
  left:20px;
  top:200px;
  width:106px;
  height:20px;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1037 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u1038 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1039 {
  position:absolute;
  left:1043px;
  top:975px;
  width:280px;
  height:160px;
  text-align:left;
}
#u1040 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:440px;
  height:21px;
}
#u1041p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:432px;
  height:1px;
}
#u1041p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:442px;
  height:21px;
}
#u1041p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u1041p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u1041p002 {
  position:absolute;
  left:415px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1041p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u1041.compound {
  width:0px;
  height:0px;
}
#u1041 {
  position:absolute;
  left:613px;
  top:1055px;
  width:430px;
  height:1px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043 {
  position:absolute;
  left:1053px;
  top:985px;
  width:60px;
  height:20px;
}
#u1043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1043_input {
  font-family:'应用字体';
}
#u1044 {
  position:absolute;
  left:1123px;
  top:985px;
  width:60px;
  height:20px;
}
#u1044_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1044_input {
  font-family:'应用字体';
}
#u1045 {
  position:absolute;
  left:1173px;
  top:1105px;
  width:60px;
  height:20px;
}
#u1045_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1045_input {
  font-family:'应用字体';
}
#u1046 {
  position:absolute;
  left:1243px;
  top:1105px;
  width:60px;
  height:20px;
}
#u1046_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1046_input {
  font-family:'应用字体';
}
#u1047 {
  position:absolute;
  left:290px;
  top:954px;
  width:100px;
  height:25px;
}
#u1047_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1047_input {
  font-family:'应用字体';
}
#u1048 {
  position:absolute;
  left:411px;
  top:954px;
  width:100px;
  height:25px;
}
#u1048_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1048_input {
  font-family:'应用字体';
}
#u1049 {
  position:absolute;
  left:540px;
  top:295px;
  width:100px;
  height:25px;
}
#u1049_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1049_input {
  font-family:'应用字体';
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1050 {
  position:absolute;
  left:431px;
  top:800px;
  width:53px;
  height:16px;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1052 {
  position:absolute;
  left:494px;
  top:798px;
  width:100px;
  height:22px;
}
#u1052_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1052_input {
  font-family:'应用字体';
}
#u1053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1053 {
  position:absolute;
  left:722px;
  top:796px;
  width:53px;
  height:16px;
}
#u1054 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1055 {
  position:absolute;
  left:778px;
  top:794px;
  width:100px;
  height:22px;
}
#u1055_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1055_input {
  font-family:'应用字体';
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1056 {
  position:absolute;
  left:431px;
  top:836px;
  width:53px;
  height:16px;
}
#u1057 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1058 {
  position:absolute;
  left:494px;
  top:834px;
  width:100px;
  height:22px;
}
#u1058_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1058_input {
  font-family:'应用字体';
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1059 {
  position:absolute;
  left:722px;
  top:832px;
  width:53px;
  height:16px;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1061 {
  position:absolute;
  left:778px;
  top:830px;
  width:100px;
  height:22px;
}
#u1061_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1061_input {
  font-family:'应用字体';
}
