body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:651px;
}
#u5870 {
  position:absolute;
  left:60px;
  top:70px;
  width:1280px;
  height:650px;
}
#u5871 {
  position:absolute;
  left:2px;
  top:317px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5872 {
  position:absolute;
  left:483px;
  top:268px;
  width:435px;
  height:255px;
}
#u5873 {
  position:absolute;
  left:2px;
  top:120px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5874 {
  position:absolute;
  left:546px;
  top:315px;
  width:55px;
  height:25px;
  font-size:18px;
}
#u5875 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u5876 {
  position:absolute;
  left:646px;
  top:313px;
  width:200px;
  height:25px;
}
#u5876_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5876_input {
  font-family:'应用字体';
}
#u5877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5877 {
  position:absolute;
  left:557px;
  top:369px;
  width:37px;
  height:25px;
  font-size:18px;
}
#u5878 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5879 {
  position:absolute;
  left:646px;
  top:368px;
  width:200px;
  height:25px;
}
#u5879_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5879_input {
  font-family:'应用字体';
}
#u5880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5880 {
  position:absolute;
  left:546px;
  top:432px;
  width:55px;
  height:25px;
  font-size:18px;
}
#u5881 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u5882 {
  position:absolute;
  left:646px;
  top:430px;
  width:200px;
  height:25px;
}
#u5882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5882_input {
  font-family:'应用字体';
}
