body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2194 {
  position:absolute;
  left:80px;
  top:20px;
  width:1210px;
  height:100px;
}
#u2195 {
  position:absolute;
  left:2px;
  top:42px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:41px;
}
#u2196 {
  position:absolute;
  left:110px;
  top:40px;
  width:170px;
  height:40px;
}
#u2197 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198 {
  position:absolute;
  left:80px;
  top:140px;
  width:187px;
  height:528px;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u2199 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u2200 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u2201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:281px;
}
#u2201 {
  position:absolute;
  left:0px;
  top:48px;
  width:182px;
  height:281px;
  text-align:center;
}
#u2202 {
  position:absolute;
  left:2px;
  top:132px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u2203 {
  position:absolute;
  left:0px;
  top:329px;
  width:182px;
  height:48px;
  text-align:center;
}
#u2204 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u2205 {
  position:absolute;
  left:0px;
  top:377px;
  width:182px;
  height:48px;
  text-align:center;
}
#u2206 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u2207 {
  position:absolute;
  left:0px;
  top:425px;
  width:182px;
  height:48px;
  text-align:center;
}
#u2208 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:50px;
}
#u2209 {
  position:absolute;
  left:0px;
  top:473px;
  width:182px;
  height:50px;
  text-align:center;
}
#u2210 {
  position:absolute;
  left:2px;
  top:17px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2211 {
  position:absolute;
  left:280px;
  top:180px;
  width:1010px;
  height:488px;
}
#u2212 {
  position:absolute;
  left:2px;
  top:236px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213 {
  position:absolute;
  left:80px;
  top:200px;
  width:170px;
  height:225px;
}
#u2213_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2214 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u2215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2215 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u2215_img.selected {
}
#u2215.selected {
}
#u2216 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2217 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u2218 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u2214_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2219 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u2220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2220 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u2221 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u2222 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u2223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2223 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u2224 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u2225 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u2226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2226 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u2227 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u2228 {
  position:absolute;
  left:20px;
  top:80px;
  width:132px;
  height:20px;
}
#u2229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2229 {
  position:absolute;
  left:22px;
  top:0px;
  width:110px;
  height:20px;
}
#u2230 {
  position:absolute;
  left:3px;
  top:1px;
  width:105px;
  white-space:nowrap;
}
#u2231 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u2232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2232 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u2233 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u2234 {
  position:absolute;
  left:20px;
  top:120px;
  width:80px;
  height:20px;
}
#u2235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2235 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u2236 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u2237 {
  position:absolute;
  left:20px;
  top:140px;
  width:145px;
  height:20px;
}
#u2238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2238 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u2239 {
  position:absolute;
  left:3px;
  top:1px;
  width:118px;
  white-space:nowrap;
}
#u2240 {
  position:absolute;
  left:20px;
  top:160px;
  width:80px;
  height:20px;
}
#u2241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2241 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u2242 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u2243 {
  position:absolute;
  left:20px;
  top:180px;
  width:80px;
  height:20px;
}
#u2244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2244 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u2245 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u2246 {
  position:absolute;
  left:20px;
  top:200px;
  width:106px;
  height:20px;
}
#u2247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2247 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u2248 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u2249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2249 {
  position:absolute;
  left:280px;
  top:140px;
  width:200px;
  height:30px;
}
#u2250 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u2251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u2251 {
  position:absolute;
  left:447px;
  top:144px;
  width:28px;
  height:25px;
}
#u2252 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2253 {
  position:absolute;
  left:280px;
  top:190px;
  width:990px;
  height:130px;
}
#u2254 {
  position:absolute;
  left:2px;
  top:57px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2255 {
  position:absolute;
  left:308px;
  top:200px;
  width:27px;
  height:16px;
}
#u2256 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2257 {
  position:absolute;
  left:360px;
  top:197px;
  width:100px;
  height:22px;
}
#u2257_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2257_input {
  font-family:'应用字体';
}
#u2257_input:disabled {
  color:grayText;
}
#u2258 {
  position:absolute;
  left:1050px;
  top:235px;
  width:100px;
  height:25px;
}
#u2258_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2258_input {
  font-family:'应用字体';
}
#u2259 {
  position:absolute;
  left:1160px;
  top:235px;
  width:100px;
  height:25px;
}
#u2259_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2259_input {
  font-family:'应用字体';
}
#u2260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2260 {
  position:absolute;
  left:280px;
  top:340px;
  width:990px;
  height:310px;
  text-align:left;
}
#u2261 {
  position:absolute;
  left:2px;
  top:2px;
  width:986px;
  word-wrap:break-word;
}
#u2262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2262 {
  position:absolute;
  left:526px;
  top:203px;
  width:27px;
  height:16px;
}
#u2263 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2264 {
  position:absolute;
  left:598px;
  top:200px;
  width:100px;
  height:22px;
}
#u2264_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2264_input {
  font-family:'应用字体';
}
#u2264_input:disabled {
  color:grayText;
}
#u2265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2265 {
  position:absolute;
  left:306px;
  top:243px;
  width:40px;
  height:16px;
}
#u2266 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2267 {
  position:absolute;
  left:360px;
  top:240px;
  width:100px;
  height:21px;
}
#u2267_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2267_input {
  font-family:'应用字体';
}
#u2268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2268 {
  position:absolute;
  left:526px;
  top:246px;
  width:14px;
  height:16px;
}
#u2269 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u2270 {
  position:absolute;
  left:601px;
  top:243px;
  width:100px;
  height:21px;
}
#u2270_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2270_input {
  font-family:'应用字体';
}
#u2271 {
  position:absolute;
  left:308px;
  top:285px;
  width:100px;
  height:25px;
}
#u2271_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2271_input {
  font-family:'应用字体';
}
#u2272 {
  position:absolute;
  left:440px;
  top:285px;
  width:100px;
  height:25px;
}
#u2272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2272_input {
  font-family:'应用字体';
}
#u2273 {
  position:absolute;
  left:580px;
  top:285px;
  width:100px;
  height:25px;
}
#u2273_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2273_input {
  font-family:'应用字体';
}
#u2274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2274 {
  position:absolute;
  left:280px;
  top:700px;
  width:700px;
  height:480px;
}
#u2275 {
  position:absolute;
  left:2px;
  top:232px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2276 {
  position:absolute;
  left:319px;
  top:732px;
  width:40px;
  height:16px;
}
#u2277 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2278 {
  position:absolute;
  left:377px;
  top:730px;
  width:142px;
  height:21px;
}
#u2278_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2278_input {
  font-family:'应用字体';
}
#u2279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2279 {
  position:absolute;
  left:670px;
  top:734px;
  width:27px;
  height:16px;
}
#u2280 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2281 {
  position:absolute;
  left:724px;
  top:730px;
  width:136px;
  height:21px;
}
#u2281_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2281_input {
  font-family:'应用字体';
}
#u2282 {
  position:absolute;
  left:381px;
  top:780px;
  width:479px;
  height:60px;
}
#u2282_input {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2282_input {
  font-family:'应用字体';
}
#u2283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2283 {
  position:absolute;
  left:319px;
  top:802px;
  width:27px;
  height:28px;
}
#u2284 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2285 {
  position:absolute;
  left:300px;
  top:920px;
  width:670px;
  height:200px;
  text-align:left;
}
#u2286 {
  position:absolute;
  left:2px;
  top:2px;
  width:666px;
  word-wrap:break-word;
}
#u2287 {
  position:absolute;
  left:300px;
  top:880px;
  width:100px;
  height:25px;
}
#u2287_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2287_input {
  font-family:'应用字体';
}
#u2288 {
  position:absolute;
  left:430px;
  top:880px;
  width:100px;
  height:25px;
}
#u2288_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2288_input {
  font-family:'应用字体';
}
#u2289_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:400px;
}
#u2289p000 {
  position:absolute;
  left:-195px;
  top:194px;
  width:391px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2289p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:411px;
  height:12px;
}
#u2289p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u2289p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u2289p002 {
  position:absolute;
  left:-11px;
  top:375px;
  width:22px;
  height:22px;
}
#u2289p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u2289.compound {
  width:0px;
  height:0px;
}
#u2289 {
  position:absolute;
  left:358px;
  top:310px;
  width:1px;
  height:390px;
}
#u2290 {
  position:absolute;
  left:2px;
  top:187px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2291 {
  position:absolute;
  left:738px;
  top:1136px;
  width:100px;
  height:25px;
}
#u2291_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2291_input {
  font-family:'应用字体';
}
#u2292 {
  position:absolute;
  left:868px;
  top:1136px;
  width:100px;
  height:25px;
}
#u2292_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2292_input {
  font-family:'应用字体';
}
