body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5102 {
  position:absolute;
  left:80px;
  top:20px;
  width:1210px;
  height:100px;
}
#u5103 {
  position:absolute;
  left:2px;
  top:42px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:41px;
}
#u5104 {
  position:absolute;
  left:110px;
  top:40px;
  width:170px;
  height:40px;
}
#u5105 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5106 {
  position:absolute;
  left:280px;
  top:180px;
  width:1010px;
  height:488px;
}
#u5107 {
  position:absolute;
  left:2px;
  top:236px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5108 {
  position:absolute;
  left:280px;
  top:140px;
  width:200px;
  height:30px;
}
#u5109 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u5110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u5110 {
  position:absolute;
  left:447px;
  top:144px;
  width:28px;
  height:25px;
}
#u5111 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5112 {
  position:absolute;
  left:280px;
  top:190px;
  width:990px;
  height:130px;
}
#u5113 {
  position:absolute;
  left:2px;
  top:57px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5114 {
  position:absolute;
  left:308px;
  top:200px;
  width:27px;
  height:16px;
}
#u5115 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5116 {
  position:absolute;
  left:360px;
  top:197px;
  width:100px;
  height:22px;
}
#u5116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5116_input {
  font-family:'应用字体';
}
#u5116_input:disabled {
  color:grayText;
}
#u5117 {
  position:absolute;
  left:1050px;
  top:235px;
  width:100px;
  height:25px;
}
#u5117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5117_input {
  font-family:'应用字体';
}
#u5118 {
  position:absolute;
  left:1160px;
  top:235px;
  width:100px;
  height:25px;
}
#u5118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5118_input {
  font-family:'应用字体';
}
#u5119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5119 {
  position:absolute;
  left:280px;
  top:340px;
  width:990px;
  height:310px;
  text-align:left;
}
#u5120 {
  position:absolute;
  left:2px;
  top:2px;
  width:986px;
  word-wrap:break-word;
}
#u5121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5121 {
  position:absolute;
  left:526px;
  top:198px;
  width:27px;
  height:16px;
}
#u5122 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5123 {
  position:absolute;
  left:597px;
  top:195px;
  width:100px;
  height:22px;
}
#u5123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5123_input {
  font-family:'应用字体';
}
#u5123_input:disabled {
  color:grayText;
}
#u5124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5124 {
  position:absolute;
  left:306px;
  top:243px;
  width:40px;
  height:16px;
}
#u5125 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5126 {
  position:absolute;
  left:360px;
  top:240px;
  width:100px;
  height:21px;
}
#u5126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5126_input {
  font-family:'应用字体';
}
#u5127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5127 {
  position:absolute;
  left:526px;
  top:246px;
  width:14px;
  height:16px;
}
#u5128 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u5129 {
  position:absolute;
  left:601px;
  top:243px;
  width:100px;
  height:21px;
}
#u5129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5129_input {
  font-family:'应用字体';
}
#u5130 {
  position:absolute;
  left:308px;
  top:285px;
  width:100px;
  height:25px;
}
#u5130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5130_input {
  font-family:'应用字体';
}
#u5131 {
  position:absolute;
  left:440px;
  top:285px;
  width:100px;
  height:25px;
}
#u5131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5131_input {
  font-family:'应用字体';
}
#u5132 {
  position:absolute;
  left:580px;
  top:285px;
  width:100px;
  height:25px;
}
#u5132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5132_input {
  font-family:'应用字体';
}
#u5133 {
  position:absolute;
  left:80px;
  top:140px;
  width:187px;
  height:528px;
}
#u5134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u5134 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u5135 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u5136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:281px;
}
#u5136 {
  position:absolute;
  left:0px;
  top:48px;
  width:182px;
  height:281px;
  text-align:center;
}
#u5137 {
  position:absolute;
  left:2px;
  top:132px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u5138 {
  position:absolute;
  left:0px;
  top:329px;
  width:182px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u5139 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u5140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u5140 {
  position:absolute;
  left:0px;
  top:377px;
  width:182px;
  height:48px;
  text-align:center;
}
#u5141 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u5142 {
  position:absolute;
  left:0px;
  top:425px;
  width:182px;
  height:48px;
  text-align:center;
}
#u5143 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:50px;
}
#u5144 {
  position:absolute;
  left:0px;
  top:473px;
  width:182px;
  height:50px;
  text-align:center;
}
#u5145 {
  position:absolute;
  left:2px;
  top:17px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5146 {
  position:absolute;
  left:87px;
  top:195px;
  width:170px;
  height:165px;
}
#u5146_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5147 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u5148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5148 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5148_img.selected {
}
#u5148.selected {
}
#u5149 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5150 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5151 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u5147_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5152 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u5153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5153 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u5154 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u5155 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u5156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5156 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5157 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u5158 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u5159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5159 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5160 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u5161 {
  position:absolute;
  left:20px;
  top:80px;
  width:145px;
  height:20px;
}
#u5162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5162 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u5163 {
  position:absolute;
  left:3px;
  top:1px;
  width:118px;
  white-space:nowrap;
}
#u5164 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u5165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5165 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5166 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u5167 {
  position:absolute;
  left:20px;
  top:120px;
  width:80px;
  height:20px;
}
#u5168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5168 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5169 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u5170 {
  position:absolute;
  left:20px;
  top:140px;
  width:106px;
  height:20px;
}
#u5171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5171 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u5172 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u5173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5173 {
  position:absolute;
  left:280px;
  top:700px;
  width:700px;
  height:480px;
}
#u5174 {
  position:absolute;
  left:2px;
  top:232px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5175 {
  position:absolute;
  left:319px;
  top:732px;
  width:40px;
  height:16px;
}
#u5176 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5177 {
  position:absolute;
  left:377px;
  top:730px;
  width:142px;
  height:21px;
}
#u5177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5177_input {
  font-family:'应用字体';
}
#u5178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5178 {
  position:absolute;
  left:670px;
  top:734px;
  width:27px;
  height:16px;
}
#u5179 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5180 {
  position:absolute;
  left:724px;
  top:730px;
  width:136px;
  height:21px;
}
#u5180_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5180_input {
  font-family:'应用字体';
}
#u5181 {
  position:absolute;
  left:381px;
  top:780px;
  width:479px;
  height:60px;
}
#u5181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5181_input {
  font-family:'应用字体';
}
#u5182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5182 {
  position:absolute;
  left:319px;
  top:802px;
  width:27px;
  height:28px;
}
#u5183 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5184 {
  position:absolute;
  left:300px;
  top:920px;
  width:670px;
  height:200px;
  text-align:left;
}
#u5185 {
  position:absolute;
  left:2px;
  top:2px;
  width:666px;
  word-wrap:break-word;
}
#u5186 {
  position:absolute;
  left:300px;
  top:880px;
  width:100px;
  height:25px;
}
#u5186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5186_input {
  font-family:'应用字体';
}
#u5187 {
  position:absolute;
  left:430px;
  top:880px;
  width:100px;
  height:25px;
}
#u5187_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5187_input {
  font-family:'应用字体';
}
#u5188_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:400px;
}
#u5188p000 {
  position:absolute;
  left:-195px;
  top:194px;
  width:391px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5188p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:411px;
  height:12px;
}
#u5188p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u5188p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u5188p002 {
  position:absolute;
  left:-11px;
  top:375px;
  width:22px;
  height:22px;
}
#u5188p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u5188.compound {
  width:0px;
  height:0px;
}
#u5188 {
  position:absolute;
  left:358px;
  top:310px;
  width:1px;
  height:390px;
}
#u5189 {
  position:absolute;
  left:2px;
  top:187px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5190 {
  position:absolute;
  left:568px;
  top:1140px;
  width:100px;
  height:25px;
}
#u5190_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5190_input {
  font-family:'应用字体';
}
#u5191 {
  position:absolute;
  left:698px;
  top:1140px;
  width:100px;
  height:25px;
}
#u5191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5191_input {
  font-family:'应用字体';
}
