body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:651px;
}
#u1963 {
  position:absolute;
  left:60px;
  top:70px;
  width:1280px;
  height:650px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:317px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1965 {
  position:absolute;
  left:483px;
  top:268px;
  width:435px;
  height:255px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:120px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1967 {
  position:absolute;
  left:546px;
  top:315px;
  width:55px;
  height:25px;
  font-size:18px;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1969 {
  position:absolute;
  left:646px;
  top:313px;
  width:200px;
  height:25px;
}
#u1969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1969_input {
  font-family:'应用字体';
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1970 {
  position:absolute;
  left:557px;
  top:369px;
  width:37px;
  height:25px;
  font-size:18px;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1972 {
  position:absolute;
  left:646px;
  top:368px;
  width:200px;
  height:25px;
}
#u1972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1972_input {
  font-family:'应用字体';
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1973 {
  position:absolute;
  left:546px;
  top:432px;
  width:55px;
  height:25px;
  font-size:18px;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1975 {
  position:absolute;
  left:646px;
  top:430px;
  width:200px;
  height:25px;
}
#u1975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1975_input {
  font-family:'应用字体';
}
