body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7850 {
  position:absolute;
  left:80px;
  top:20px;
  width:1210px;
  height:100px;
}
#u7851 {
  position:absolute;
  left:2px;
  top:42px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:41px;
}
#u7852 {
  position:absolute;
  left:110px;
  top:40px;
  width:170px;
  height:40px;
}
#u7853 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7854 {
  position:absolute;
  left:280px;
  top:180px;
  width:1010px;
  height:488px;
}
#u7855 {
  position:absolute;
  left:2px;
  top:236px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7856 {
  position:absolute;
  left:279px;
  top:140px;
  width:200px;
  height:30px;
}
#u7857 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u7858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u7858 {
  position:absolute;
  left:447px;
  top:144px;
  width:28px;
  height:25px;
}
#u7859 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7860 {
  position:absolute;
  left:280px;
  top:190px;
  width:990px;
  height:130px;
}
#u7861 {
  position:absolute;
  left:2px;
  top:57px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7862 {
  position:absolute;
  left:308px;
  top:200px;
  width:27px;
  height:16px;
}
#u7863 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7864 {
  position:absolute;
  left:1050px;
  top:235px;
  width:100px;
  height:25px;
}
#u7864_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7864_input {
  font-family:'应用字体';
}
#u7865 {
  position:absolute;
  left:1160px;
  top:235px;
  width:100px;
  height:25px;
}
#u7865_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7865_input {
  font-family:'应用字体';
}
#u7866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7866 {
  position:absolute;
  left:280px;
  top:340px;
  width:990px;
  height:310px;
  text-align:left;
}
#u7867 {
  position:absolute;
  left:2px;
  top:2px;
  width:986px;
  word-wrap:break-word;
}
#u7868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7868 {
  position:absolute;
  left:526px;
  top:198px;
  width:53px;
  height:16px;
}
#u7869 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7870 {
  position:absolute;
  left:602px;
  top:195px;
  width:100px;
  height:22px;
}
#u7870_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7870_input {
  font-family:'应用字体';
}
#u7871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7871 {
  position:absolute;
  left:771px;
  top:198px;
  width:53px;
  height:16px;
}
#u7872 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7873 {
  position:absolute;
  left:841px;
  top:195px;
  width:100px;
  height:22px;
}
#u7873_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7873_input {
  font-family:'应用字体';
}
#u7873_input:disabled {
  color:grayText;
}
#u7874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7874 {
  position:absolute;
  left:306px;
  top:243px;
  width:40px;
  height:16px;
}
#u7875 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7876 {
  position:absolute;
  left:358px;
  top:197px;
  width:100px;
  height:22px;
}
#u7876_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7876_input {
  font-family:'应用字体';
}
#u7877 {
  position:absolute;
  left:358px;
  top:237px;
  width:100px;
  height:22px;
}
#u7877_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7877_input {
  font-family:'应用字体';
}
#u7878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7878 {
  position:absolute;
  left:526px;
  top:241px;
  width:53px;
  height:16px;
}
#u7879 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7880 {
  position:absolute;
  left:596px;
  top:238px;
  width:100px;
  height:22px;
}
#u7880_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7880_input {
  font-family:'应用字体';
}
#u7880_input:disabled {
  color:grayText;
}
#u7881 {
  position:absolute;
  left:308px;
  top:280px;
  width:100px;
  height:25px;
}
#u7881_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7881_input {
  font-family:'应用字体';
}
#u7882 {
  position:absolute;
  left:418px;
  top:280px;
  width:100px;
  height:25px;
}
#u7882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7882_input {
  font-family:'应用字体';
}
#u7883 {
  position:absolute;
  left:530px;
  top:280px;
  width:100px;
  height:25px;
}
#u7883_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7883_input {
  font-family:'应用字体';
}
#u7884 {
  position:absolute;
  left:640px;
  top:280px;
  width:100px;
  height:25px;
}
#u7884_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7884_input {
  font-family:'应用字体';
}
#u7885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7885 {
  position:absolute;
  left:280px;
  top:730px;
  width:821px;
  height:550px;
}
#u7886 {
  position:absolute;
  left:2px;
  top:267px;
  width:817px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7887 {
  position:absolute;
  left:300px;
  top:820px;
  width:790px;
  height:40px;
}
#u7888 {
  position:absolute;
  left:2px;
  top:12px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7889 {
  position:absolute;
  left:332px;
  top:835px;
  width:53px;
  height:16px;
}
#u7890 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7891 {
  position:absolute;
  left:393px;
  top:829px;
  width:100px;
  height:22px;
}
#u7891_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7891_input {
  font-family:'应用字体';
}
#u7892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7892 {
  position:absolute;
  left:614px;
  top:835px;
  width:27px;
  height:16px;
}
#u7893 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7894 {
  position:absolute;
  left:676px;
  top:829px;
  width:100px;
  height:22px;
}
#u7894_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7894_input {
  font-family:'应用字体';
}
#u7895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7895 {
  position:absolute;
  left:860px;
  top:835px;
  width:79px;
  height:16px;
}
#u7896 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u7897 {
  position:absolute;
  left:942px;
  top:829px;
  width:100px;
  height:22px;
}
#u7897_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7897_input {
  font-family:'应用字体';
}
#u7898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7898 {
  position:absolute;
  left:300px;
  top:890px;
  width:790px;
  height:90px;
  text-align:left;
}
#u7899 {
  position:absolute;
  left:2px;
  top:2px;
  width:786px;
  word-wrap:break-word;
}
#u7900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7900 {
  position:absolute;
  left:312px;
  top:882px;
  width:53px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7901 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7902 {
  position:absolute;
  left:300px;
  top:993px;
  width:790px;
  height:87px;
  text-align:left;
}
#u7903 {
  position:absolute;
  left:2px;
  top:2px;
  width:786px;
  word-wrap:break-word;
}
#u7904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7904 {
  position:absolute;
  left:312px;
  top:985px;
  width:53px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7905 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7906 {
  position:absolute;
  left:300px;
  top:1110px;
  width:790px;
  height:110px;
  text-align:left;
}
#u7907 {
  position:absolute;
  left:2px;
  top:2px;
  width:786px;
  word-wrap:break-word;
}
#u7908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7908 {
  position:absolute;
  left:312px;
  top:1102px;
  width:53px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7909 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7910 {
  position:absolute;
  left:446px;
  top:746px;
  width:27px;
  height:16px;
}
#u7911 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7912 {
  position:absolute;
  left:507px;
  top:740px;
  width:100px;
  height:22px;
}
#u7912_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7912_input {
  font-family:'应用字体';
}
#u7913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7913 {
  position:absolute;
  left:754px;
  top:746px;
  width:27px;
  height:16px;
}
#u7914 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7915 {
  position:absolute;
  left:815px;
  top:740px;
  width:100px;
  height:22px;
}
#u7915_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7915_input {
  font-family:'应用字体';
}
#u7916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7916 {
  position:absolute;
  left:446px;
  top:784px;
  width:40px;
  height:16px;
}
#u7917 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7918 {
  position:absolute;
  left:507px;
  top:778px;
  width:100px;
  height:22px;
}
#u7918_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7918_input {
  font-family:'应用字体';
}
#u7919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7919 {
  position:absolute;
  left:754px;
  top:778px;
  width:40px;
  height:16px;
}
#u7920 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7921 {
  position:absolute;
  left:815px;
  top:772px;
  width:100px;
  height:22px;
}
#u7921_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7921_input {
  font-family:'应用字体';
}
#u7922 {
  position:absolute;
  left:883px;
  top:1240px;
  width:100px;
  height:25px;
}
#u7922_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7922_input {
  font-family:'应用字体';
}
#u7923 {
  position:absolute;
  left:990px;
  top:1240px;
  width:100px;
  height:25px;
}
#u7923_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7923_input {
  font-family:'应用字体';
}
#u7924_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:438px;
}
#u7924p000 {
  position:absolute;
  left:-214px;
  top:213px;
  width:429px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7924p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:449px;
  height:12px;
}
#u7924p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u7924p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u7924p002 {
  position:absolute;
  left:-11px;
  top:413px;
  width:22px;
  height:22px;
}
#u7924p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u7924.compound {
  width:0px;
  height:0px;
}
#u7924 {
  position:absolute;
  left:468px;
  top:302px;
  width:1px;
  height:428px;
}
#u7925 {
  position:absolute;
  left:2px;
  top:206px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7926 {
  position:absolute;
  left:317px;
  top:590px;
  width:495px;
  height:18px;
}
#u7927 {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  white-space:nowrap;
}
#u7928 {
  position:absolute;
  left:80px;
  top:140px;
  width:187px;
  height:524px;
}
#u7929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u7929 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u7930 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u7931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u7931 {
  position:absolute;
  left:0px;
  top:48px;
  width:182px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u7932 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u7933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:325px;
}
#u7933 {
  position:absolute;
  left:0px;
  top:96px;
  width:182px;
  height:325px;
  text-align:center;
}
#u7934 {
  position:absolute;
  left:2px;
  top:154px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u7935 {
  position:absolute;
  left:0px;
  top:421px;
  width:182px;
  height:48px;
  text-align:center;
}
#u7936 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:50px;
}
#u7937 {
  position:absolute;
  left:0px;
  top:469px;
  width:182px;
  height:50px;
  text-align:center;
}
#u7938 {
  position:absolute;
  left:2px;
  top:17px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7939 {
  position:absolute;
  left:89px;
  top:243px;
  width:122px;
  height:85px;
}
#u7939_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7940 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u7941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u7941 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u7941_img.selected {
}
#u7941.selected {
}
#u7942 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7943 {
  position:absolute;
  left:22px;
  top:0px;
  width:88px;
  height:20px;
}
#u7944 {
  position:absolute;
  left:3px;
  top:1px;
  width:83px;
  white-space:nowrap;
}
#u7940_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7945 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u7946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7946 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u7947 {
  position:absolute;
  left:3px;
  top:1px;
  width:40px;
  white-space:nowrap;
}
#u7948 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u7949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7949 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7950 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u7951 {
  position:absolute;
  left:20px;
  top:60px;
  width:97px;
  height:20px;
}
#u7952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7952 {
  position:absolute;
  left:22px;
  top:0px;
  width:75px;
  height:20px;
}
#u7953 {
  position:absolute;
  left:3px;
  top:1px;
  width:70px;
  white-space:nowrap;
}
