body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4147 {
  position:absolute;
  left:80px;
  top:20px;
  width:1210px;
  height:100px;
}
#u4148 {
  position:absolute;
  left:2px;
  top:42px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:41px;
}
#u4149 {
  position:absolute;
  left:110px;
  top:40px;
  width:170px;
  height:40px;
}
#u4150 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4151 {
  position:absolute;
  left:80px;
  top:140px;
  width:187px;
  height:528px;
}
#u4152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u4152 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u4153 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u4154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:281px;
}
#u4154 {
  position:absolute;
  left:0px;
  top:48px;
  width:182px;
  height:281px;
  text-align:center;
}
#u4155 {
  position:absolute;
  left:2px;
  top:132px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u4156 {
  position:absolute;
  left:0px;
  top:329px;
  width:182px;
  height:48px;
  text-align:center;
}
#u4157 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u4158 {
  position:absolute;
  left:0px;
  top:377px;
  width:182px;
  height:48px;
  text-align:center;
}
#u4159 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u4160 {
  position:absolute;
  left:0px;
  top:425px;
  width:182px;
  height:48px;
  text-align:center;
}
#u4161 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:50px;
}
#u4162 {
  position:absolute;
  left:0px;
  top:473px;
  width:182px;
  height:50px;
  text-align:center;
}
#u4163 {
  position:absolute;
  left:2px;
  top:17px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4164 {
  position:absolute;
  left:280px;
  top:180px;
  width:1010px;
  height:488px;
}
#u4165 {
  position:absolute;
  left:2px;
  top:236px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4166 {
  position:absolute;
  left:80px;
  top:200px;
  width:170px;
  height:225px;
}
#u4166_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4167 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u4168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4168 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u4168_img.selected {
}
#u4168.selected {
}
#u4169 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4170 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4171 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u4167_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4172 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u4173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4173 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u4174 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u4175 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u4176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4176 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4177 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u4178 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u4179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4179 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4180 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u4181 {
  position:absolute;
  left:20px;
  top:80px;
  width:132px;
  height:20px;
}
#u4182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4182 {
  position:absolute;
  left:22px;
  top:0px;
  width:110px;
  height:20px;
}
#u4183 {
  position:absolute;
  left:3px;
  top:1px;
  width:105px;
  white-space:nowrap;
}
#u4184 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u4185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4185 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4186 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u4187 {
  position:absolute;
  left:20px;
  top:120px;
  width:80px;
  height:20px;
}
#u4188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4188 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4189 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u4190 {
  position:absolute;
  left:20px;
  top:140px;
  width:145px;
  height:20px;
}
#u4191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4191 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u4192 {
  position:absolute;
  left:3px;
  top:1px;
  width:118px;
  white-space:nowrap;
}
#u4193 {
  position:absolute;
  left:20px;
  top:160px;
  width:80px;
  height:20px;
}
#u4194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4194 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4195 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u4196 {
  position:absolute;
  left:20px;
  top:180px;
  width:80px;
  height:20px;
}
#u4197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4197 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4198 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u4199 {
  position:absolute;
  left:20px;
  top:200px;
  width:106px;
  height:20px;
}
#u4200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4200 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u4201 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u4202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4202 {
  position:absolute;
  left:280px;
  top:140px;
  width:200px;
  height:30px;
}
#u4203 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u4204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u4204 {
  position:absolute;
  left:447px;
  top:144px;
  width:28px;
  height:25px;
}
#u4205 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4206 {
  position:absolute;
  left:280px;
  top:190px;
  width:990px;
  height:130px;
}
#u4207 {
  position:absolute;
  left:2px;
  top:57px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4208 {
  position:absolute;
  left:308px;
  top:200px;
  width:27px;
  height:16px;
}
#u4209 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4210 {
  position:absolute;
  left:360px;
  top:197px;
  width:100px;
  height:22px;
}
#u4210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4210_input {
  font-family:'应用字体';
}
#u4210_input:disabled {
  color:grayText;
}
#u4211 {
  position:absolute;
  left:1050px;
  top:235px;
  width:100px;
  height:25px;
}
#u4211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4211_input {
  font-family:'应用字体';
}
#u4212 {
  position:absolute;
  left:1160px;
  top:235px;
  width:100px;
  height:25px;
}
#u4212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4212_input {
  font-family:'应用字体';
}
#u4213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4213 {
  position:absolute;
  left:280px;
  top:340px;
  width:990px;
  height:310px;
  text-align:left;
}
#u4214 {
  position:absolute;
  left:2px;
  top:2px;
  width:986px;
  word-wrap:break-word;
}
#u4215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4215 {
  position:absolute;
  left:526px;
  top:203px;
  width:27px;
  height:16px;
}
#u4216 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4217 {
  position:absolute;
  left:598px;
  top:200px;
  width:100px;
  height:22px;
}
#u4217_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4217_input {
  font-family:'应用字体';
}
#u4217_input:disabled {
  color:grayText;
}
#u4218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4218 {
  position:absolute;
  left:306px;
  top:243px;
  width:40px;
  height:16px;
}
#u4219 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4220 {
  position:absolute;
  left:360px;
  top:240px;
  width:100px;
  height:21px;
}
#u4220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4220_input {
  font-family:'应用字体';
}
#u4221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4221 {
  position:absolute;
  left:526px;
  top:246px;
  width:14px;
  height:16px;
}
#u4222 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u4223 {
  position:absolute;
  left:601px;
  top:243px;
  width:100px;
  height:21px;
}
#u4223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4223_input {
  font-family:'应用字体';
}
#u4224 {
  position:absolute;
  left:308px;
  top:285px;
  width:100px;
  height:25px;
}
#u4224_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4224_input {
  font-family:'应用字体';
}
#u4225 {
  position:absolute;
  left:440px;
  top:285px;
  width:100px;
  height:25px;
}
#u4225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4225_input {
  font-family:'应用字体';
}
#u4226 {
  position:absolute;
  left:580px;
  top:285px;
  width:100px;
  height:25px;
}
#u4226_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4226_input {
  font-family:'应用字体';
}
#u4227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4227 {
  position:absolute;
  left:280px;
  top:700px;
  width:700px;
  height:480px;
}
#u4228 {
  position:absolute;
  left:2px;
  top:232px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4229 {
  position:absolute;
  left:319px;
  top:732px;
  width:40px;
  height:16px;
}
#u4230 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4231 {
  position:absolute;
  left:377px;
  top:730px;
  width:142px;
  height:21px;
}
#u4231_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4231_input {
  font-family:'应用字体';
}
#u4232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4232 {
  position:absolute;
  left:670px;
  top:734px;
  width:27px;
  height:16px;
}
#u4233 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4234 {
  position:absolute;
  left:724px;
  top:730px;
  width:136px;
  height:21px;
}
#u4234_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4234_input {
  font-family:'应用字体';
}
#u4235 {
  position:absolute;
  left:381px;
  top:780px;
  width:479px;
  height:60px;
}
#u4235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4235_input {
  font-family:'应用字体';
}
#u4236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4236 {
  position:absolute;
  left:319px;
  top:802px;
  width:27px;
  height:28px;
}
#u4237 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4238 {
  position:absolute;
  left:300px;
  top:920px;
  width:670px;
  height:200px;
  text-align:left;
}
#u4239 {
  position:absolute;
  left:2px;
  top:2px;
  width:666px;
  word-wrap:break-word;
}
#u4240 {
  position:absolute;
  left:300px;
  top:880px;
  width:100px;
  height:25px;
}
#u4240_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4240_input {
  font-family:'应用字体';
}
#u4241 {
  position:absolute;
  left:430px;
  top:880px;
  width:100px;
  height:25px;
}
#u4241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4241_input {
  font-family:'应用字体';
}
#u4242_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:400px;
}
#u4242p000 {
  position:absolute;
  left:-195px;
  top:194px;
  width:391px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4242p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:411px;
  height:12px;
}
#u4242p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u4242p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u4242p002 {
  position:absolute;
  left:-11px;
  top:375px;
  width:22px;
  height:22px;
}
#u4242p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u4242.compound {
  width:0px;
  height:0px;
}
#u4242 {
  position:absolute;
  left:358px;
  top:310px;
  width:1px;
  height:390px;
}
#u4243 {
  position:absolute;
  left:2px;
  top:187px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4244 {
  position:absolute;
  left:738px;
  top:1136px;
  width:100px;
  height:25px;
}
#u4244_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4244_input {
  font-family:'应用字体';
}
#u4245 {
  position:absolute;
  left:868px;
  top:1136px;
  width:100px;
  height:25px;
}
#u4245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4245_input {
  font-family:'应用字体';
}
