body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5192 {
  position:absolute;
  left:80px;
  top:20px;
  width:1210px;
  height:100px;
}
#u5193 {
  position:absolute;
  left:2px;
  top:42px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:41px;
}
#u5194 {
  position:absolute;
  left:110px;
  top:40px;
  width:170px;
  height:40px;
}
#u5195 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5196 {
  position:absolute;
  left:280px;
  top:180px;
  width:1010px;
  height:488px;
}
#u5197 {
  position:absolute;
  left:2px;
  top:236px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5198 {
  position:absolute;
  left:278px;
  top:140px;
  width:200px;
  height:30px;
}
#u5199 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u5200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u5200 {
  position:absolute;
  left:447px;
  top:144px;
  width:28px;
  height:25px;
}
#u5201 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5202 {
  position:absolute;
  left:280px;
  top:190px;
  width:990px;
  height:130px;
}
#u5203 {
  position:absolute;
  left:2px;
  top:57px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5204 {
  position:absolute;
  left:1050px;
  top:235px;
  width:100px;
  height:25px;
}
#u5204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5204_input {
  font-family:'应用字体';
}
#u5205 {
  position:absolute;
  left:1160px;
  top:235px;
  width:100px;
  height:25px;
}
#u5205_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5205_input {
  font-family:'应用字体';
}
#u5206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5206 {
  position:absolute;
  left:280px;
  top:340px;
  width:990px;
  height:310px;
  text-align:left;
}
#u5207 {
  position:absolute;
  left:2px;
  top:2px;
  width:986px;
  word-wrap:break-word;
}
#u5208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5208 {
  position:absolute;
  left:570px;
  top:201px;
  width:66px;
  height:16px;
}
#u5209 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5210 {
  position:absolute;
  left:640px;
  top:198px;
  width:100px;
  height:22px;
}
#u5210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5210_input {
  font-family:'应用字体';
}
#u5210_input:disabled {
  color:grayText;
}
#u5211 {
  position:absolute;
  left:308px;
  top:285px;
  width:100px;
  height:25px;
}
#u5211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5211_input {
  font-family:'应用字体';
}
#u5212 {
  position:absolute;
  left:440px;
  top:285px;
  width:100px;
  height:25px;
}
#u5212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5212_input {
  font-family:'应用字体';
}
#u5213 {
  position:absolute;
  left:80px;
  top:140px;
  width:187px;
  height:528px;
}
#u5214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u5214 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u5215 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u5216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:281px;
}
#u5216 {
  position:absolute;
  left:0px;
  top:48px;
  width:182px;
  height:281px;
  text-align:center;
}
#u5217 {
  position:absolute;
  left:2px;
  top:132px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u5218 {
  position:absolute;
  left:0px;
  top:329px;
  width:182px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u5219 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u5220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u5220 {
  position:absolute;
  left:0px;
  top:377px;
  width:182px;
  height:48px;
  text-align:center;
}
#u5221 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u5222 {
  position:absolute;
  left:0px;
  top:425px;
  width:182px;
  height:48px;
  text-align:center;
}
#u5223 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:50px;
}
#u5224 {
  position:absolute;
  left:0px;
  top:473px;
  width:182px;
  height:50px;
  text-align:center;
}
#u5225 {
  position:absolute;
  left:2px;
  top:17px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5226 {
  position:absolute;
  left:87px;
  top:195px;
  width:170px;
  height:165px;
}
#u5226_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5227 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u5228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5228 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5228_img.selected {
}
#u5228.selected {
}
#u5229 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5230 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5231 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u5227_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5232 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u5233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5233 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u5234 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u5235 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u5236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5236 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5237 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u5238 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u5239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5239 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5240 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u5241 {
  position:absolute;
  left:20px;
  top:80px;
  width:145px;
  height:20px;
}
#u5242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5242 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u5243 {
  position:absolute;
  left:3px;
  top:1px;
  width:118px;
  white-space:nowrap;
}
#u5244 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u5245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5245 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5246 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u5247 {
  position:absolute;
  left:20px;
  top:120px;
  width:80px;
  height:20px;
}
#u5248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5248 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5249 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u5250 {
  position:absolute;
  left:20px;
  top:140px;
  width:106px;
  height:20px;
}
#u5251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5251 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u5252 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u5253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5253 {
  position:absolute;
  left:306px;
  top:201px;
  width:53px;
  height:16px;
}
#u5254 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5255 {
  position:absolute;
  left:382px;
  top:198px;
  width:100px;
  height:22px;
}
#u5255_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5255_input {
  font-family:'应用字体';
}
#u5256 {
  position:absolute;
  left:306px;
  top:247px;
  width:100px;
  height:18px;
}
#u5257 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5256_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5258 {
  position:absolute;
  left:398px;
  top:247px;
  width:100px;
  height:18px;
}
#u5259 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5258_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5260 {
  position:absolute;
  left:488px;
  top:247px;
  width:100px;
  height:18px;
}
#u5261 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5260_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5262 {
  position:absolute;
  left:580px;
  top:247px;
  width:100px;
  height:18px;
}
#u5263 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5262_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5264 {
  position:absolute;
  left:328px;
  top:574px;
  width:458px;
  height:18px;
}
#u5265 {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  white-space:nowrap;
}
#u5266 {
  position:absolute;
  left:570px;
  top:285px;
  width:100px;
  height:25px;
}
#u5266_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5266_input {
  font-family:'应用字体';
}
#u5267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5267 {
  position:absolute;
  left:430px;
  top:770px;
  width:750px;
  height:340px;
}
#u5268 {
  position:absolute;
  left:2px;
  top:162px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5269 {
  position:absolute;
  left:460px;
  top:890px;
  width:279px;
  height:140px;
  text-align:left;
}
#u5270 {
  position:absolute;
  left:2px;
  top:2px;
  width:275px;
  word-wrap:break-word;
}
#u5271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5271 {
  position:absolute;
  left:477px;
  top:884px;
  width:53px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5272 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5273 {
  position:absolute;
  left:522px;
  top:798px;
  width:27px;
  height:16px;
}
#u5274 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5275 {
  position:absolute;
  left:599px;
  top:795px;
  width:100px;
  height:22px;
}
#u5275_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5275_input {
  font-family:'应用字体';
}
#u5276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5276 {
  position:absolute;
  left:894px;
  top:798px;
  width:27px;
  height:16px;
}
#u5277 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5278 {
  position:absolute;
  left:970px;
  top:795px;
  width:100px;
  height:22px;
}
#u5278_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5278_input {
  font-family:'应用字体';
}
#u5279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5279 {
  position:absolute;
  left:522px;
  top:841px;
  width:66px;
  height:16px;
}
#u5280 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5281 {
  position:absolute;
  left:598px;
  top:838px;
  width:100px;
  height:22px;
}
#u5281_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5281_input {
  font-family:'应用字体';
}
#u5282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5282 {
  position:absolute;
  left:894px;
  top:841px;
  width:40px;
  height:16px;
}
#u5283 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5284 {
  position:absolute;
  left:970px;
  top:838px;
  width:100px;
  height:22px;
}
#u5284_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5284_input {
  font-family:'应用字体';
}
#u5285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5285 {
  position:absolute;
  left:760px;
  top:890px;
  width:390px;
  height:140px;
  text-align:left;
}
#u5286 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u5287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5287 {
  position:absolute;
  left:784px;
  top:884px;
  width:53px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5288 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5289 {
  position:absolute;
  left:940px;
  top:1064px;
  width:100px;
  height:25px;
}
#u5289_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5289_input {
  font-family:'应用字体';
}
#u5290 {
  position:absolute;
  left:1060px;
  top:1064px;
  width:100px;
  height:25px;
}
#u5290_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5290_input {
  font-family:'应用字体';
}
#u5291_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:470px;
}
#u5291p000 {
  position:absolute;
  left:-230px;
  top:229px;
  width:461px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5291p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:481px;
  height:12px;
}
#u5291p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u5291p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u5291p002 {
  position:absolute;
  left:-11px;
  top:445px;
  width:22px;
  height:22px;
}
#u5291p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u5291.compound {
  width:0px;
  height:0px;
}
#u5291 {
  position:absolute;
  left:490px;
  top:310px;
  width:1px;
  height:460px;
}
#u5292 {
  position:absolute;
  left:2px;
  top:222px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
