body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4048 {
  position:absolute;
  left:80px;
  top:20px;
  width:1210px;
  height:100px;
}
#u4049 {
  position:absolute;
  left:2px;
  top:42px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:41px;
}
#u4050 {
  position:absolute;
  left:110px;
  top:40px;
  width:170px;
  height:40px;
}
#u4051 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4052 {
  position:absolute;
  left:80px;
  top:140px;
  width:187px;
  height:528px;
}
#u4053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u4053 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u4054 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u4055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:281px;
}
#u4055 {
  position:absolute;
  left:0px;
  top:48px;
  width:182px;
  height:281px;
  text-align:center;
}
#u4056 {
  position:absolute;
  left:2px;
  top:132px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u4057 {
  position:absolute;
  left:0px;
  top:329px;
  width:182px;
  height:48px;
  text-align:center;
}
#u4058 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u4059 {
  position:absolute;
  left:0px;
  top:377px;
  width:182px;
  height:48px;
  text-align:center;
}
#u4060 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:48px;
}
#u4061 {
  position:absolute;
  left:0px;
  top:425px;
  width:182px;
  height:48px;
  text-align:center;
}
#u4062 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:50px;
}
#u4063 {
  position:absolute;
  left:0px;
  top:473px;
  width:182px;
  height:50px;
  text-align:center;
}
#u4064 {
  position:absolute;
  left:2px;
  top:17px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4065 {
  position:absolute;
  left:280px;
  top:180px;
  width:1010px;
  height:488px;
}
#u4066 {
  position:absolute;
  left:2px;
  top:236px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4067 {
  position:absolute;
  left:80px;
  top:200px;
  width:170px;
  height:225px;
}
#u4067_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4068 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u4069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4069 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u4069_img.selected {
}
#u4069.selected {
}
#u4070 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4071 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4072 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u4068_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4073 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u4074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4074 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u4075 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u4076 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u4077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4077 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4078 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u4079 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u4080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4080 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4081 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u4082 {
  position:absolute;
  left:20px;
  top:80px;
  width:132px;
  height:20px;
}
#u4083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4083 {
  position:absolute;
  left:22px;
  top:0px;
  width:110px;
  height:20px;
}
#u4084 {
  position:absolute;
  left:3px;
  top:1px;
  width:105px;
  white-space:nowrap;
}
#u4085 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u4086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4086 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4087 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u4088 {
  position:absolute;
  left:20px;
  top:120px;
  width:80px;
  height:20px;
}
#u4089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4089 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4090 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u4091 {
  position:absolute;
  left:20px;
  top:140px;
  width:145px;
  height:20px;
}
#u4092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4092 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u4093 {
  position:absolute;
  left:3px;
  top:1px;
  width:118px;
  white-space:nowrap;
}
#u4094 {
  position:absolute;
  left:20px;
  top:160px;
  width:80px;
  height:20px;
}
#u4095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4095 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4096 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u4097 {
  position:absolute;
  left:20px;
  top:180px;
  width:80px;
  height:20px;
}
#u4098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4098 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4099 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u4100 {
  position:absolute;
  left:20px;
  top:200px;
  width:106px;
  height:20px;
}
#u4101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4101 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u4102 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u4103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4103 {
  position:absolute;
  left:279px;
  top:140px;
  width:200px;
  height:30px;
}
#u4104 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u4105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u4105 {
  position:absolute;
  left:447px;
  top:144px;
  width:28px;
  height:25px;
}
#u4106 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4107 {
  position:absolute;
  left:280px;
  top:190px;
  width:990px;
  height:130px;
}
#u4108 {
  position:absolute;
  left:2px;
  top:57px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4109 {
  position:absolute;
  left:308px;
  top:200px;
  width:27px;
  height:16px;
}
#u4110 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4111 {
  position:absolute;
  left:360px;
  top:197px;
  width:100px;
  height:22px;
}
#u4111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4111_input {
  font-family:'应用字体';
}
#u4111_input:disabled {
  color:grayText;
}
#u4112 {
  position:absolute;
  left:1050px;
  top:235px;
  width:100px;
  height:25px;
}
#u4112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4112_input {
  font-family:'应用字体';
}
#u4113 {
  position:absolute;
  left:1160px;
  top:235px;
  width:100px;
  height:25px;
}
#u4113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4113_input {
  font-family:'应用字体';
}
#u4114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4114 {
  position:absolute;
  left:280px;
  top:340px;
  width:990px;
  height:310px;
  text-align:left;
}
#u4115 {
  position:absolute;
  left:2px;
  top:2px;
  width:986px;
  word-wrap:break-word;
}
#u4116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4116 {
  position:absolute;
  left:526px;
  top:200px;
  width:27px;
  height:16px;
}
#u4117 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4118 {
  position:absolute;
  left:598px;
  top:197px;
  width:100px;
  height:22px;
}
#u4118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4118_input {
  font-family:'应用字体';
}
#u4118_input:disabled {
  color:grayText;
}
#u4119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4119 {
  position:absolute;
  left:306px;
  top:243px;
  width:40px;
  height:16px;
}
#u4120 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4121 {
  position:absolute;
  left:360px;
  top:240px;
  width:100px;
  height:21px;
}
#u4121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4121_input {
  font-family:'应用字体';
}
#u4122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4122 {
  position:absolute;
  left:526px;
  top:246px;
  width:14px;
  height:16px;
}
#u4123 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u4124 {
  position:absolute;
  left:601px;
  top:243px;
  width:100px;
  height:21px;
}
#u4124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4124_input {
  font-family:'应用字体';
}
#u4125 {
  position:absolute;
  left:308px;
  top:285px;
  width:100px;
  height:25px;
}
#u4125_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4125_input {
  font-family:'应用字体';
}
#u4126 {
  position:absolute;
  left:440px;
  top:285px;
  width:100px;
  height:25px;
}
#u4126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4126_input {
  font-family:'应用字体';
}
#u4127 {
  position:absolute;
  left:580px;
  top:285px;
  width:100px;
  height:25px;
}
#u4127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4127_input {
  font-family:'应用字体';
}
#u4128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4128 {
  position:absolute;
  left:280px;
  top:700px;
  width:700px;
  height:480px;
}
#u4129 {
  position:absolute;
  left:2px;
  top:232px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4130 {
  position:absolute;
  left:319px;
  top:732px;
  width:40px;
  height:16px;
}
#u4131 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4132 {
  position:absolute;
  left:377px;
  top:730px;
  width:142px;
  height:21px;
}
#u4132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4132_input {
  font-family:'应用字体';
}
#u4133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4133 {
  position:absolute;
  left:670px;
  top:734px;
  width:27px;
  height:16px;
}
#u4134 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4135 {
  position:absolute;
  left:724px;
  top:730px;
  width:136px;
  height:21px;
}
#u4135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4135_input {
  font-family:'应用字体';
}
#u4136 {
  position:absolute;
  left:381px;
  top:780px;
  width:479px;
  height:60px;
}
#u4136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4136_input {
  font-family:'应用字体';
}
#u4137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4137 {
  position:absolute;
  left:319px;
  top:802px;
  width:27px;
  height:28px;
}
#u4138 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4139 {
  position:absolute;
  left:300px;
  top:920px;
  width:670px;
  height:200px;
  text-align:left;
}
#u4140 {
  position:absolute;
  left:2px;
  top:2px;
  width:666px;
  word-wrap:break-word;
}
#u4141 {
  position:absolute;
  left:300px;
  top:880px;
  width:100px;
  height:25px;
}
#u4141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4141_input {
  font-family:'应用字体';
}
#u4142 {
  position:absolute;
  left:430px;
  top:880px;
  width:100px;
  height:25px;
}
#u4142_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4142_input {
  font-family:'应用字体';
}
#u4143_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:400px;
}
#u4143p000 {
  position:absolute;
  left:-195px;
  top:194px;
  width:391px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4143p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:411px;
  height:12px;
}
#u4143p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u4143p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u4143p002 {
  position:absolute;
  left:-11px;
  top:375px;
  width:22px;
  height:22px;
}
#u4143p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u4143.compound {
  width:0px;
  height:0px;
}
#u4143 {
  position:absolute;
  left:358px;
  top:310px;
  width:1px;
  height:390px;
}
#u4144 {
  position:absolute;
  left:2px;
  top:187px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4145 {
  position:absolute;
  left:648px;
  top:1140px;
  width:100px;
  height:25px;
}
#u4145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4145_input {
  font-family:'应用字体';
}
#u4146 {
  position:absolute;
  left:778px;
  top:1140px;
  width:100px;
  height:25px;
}
#u4146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4146_input {
  font-family:'应用字体';
}
